<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/adminNavBar.css" />

    <title>admin | order page</title>
    <style>
      body {
        font-family: "poppins", sans-serif;
        margin:0
      }
      .container {
        width: 95%;
        margin: 70px auto;
        display: flex;
        height: auto;
      }
      .sidebar-left {
        display: flex;
        flex-direction: column;
      }
      .sidebar-left a {
        text-decoration: none;
        color: black;
        padding: 15px 10px 15px 2px;
        font-size: 17px;
      }
      .sidebar-left a:hover {
        font-weight: 500;
      }
      .content-body {
        margin-left: 15px;
        width: 100%;
        margin-top: 10px;
        height: auto;        
        box-sizing: border-box;
      }
      .order-head{
        font-size: 17px;
        font-weight: 500;
      }

      /* table */
      table{
        border-collapse: collapse;
      }
      th,td{
        border: 1px solid rgb(114, 113, 113);
        text-align: left;
        padding:4px 8px;
      }
      tr .image{
        width:4%
      }
      tr .image img{
        width:100%
      }

      /* status buttons */
      #request-note{
        font-size: 15px;
        font-style: italic;
      }
      .buttons{
        display: flex;
        justify-content: space-between;
        width:90%;
        margin-top: 10px;
        margin-left: 5px;
      }
      #accept{
        font-family: 'poppins',sans-serif;
        background-color: rgb(31, 99, 31);
        color: white;
        font-weight: 500;
        border:none;
        padding: 3px 7px;
      }
      #accept:hover{
        cursor: pointer;
      }
      #decline{
        font-family: 'poppins',sans-serif;
        background-color: rgb(136, 34, 34);
        color: white;
        font-weight: 500;
        border:none;
        padding: 3px 7px;
      }
      #decline:hover{
        cursor: pointer;
      }

    </style>
  </head>
  <body>
      
    <!-- nav bar -->
    <%-include('./partials/adminNavBar.ejs')%>
      <div class="container">
        <div class="sidebar-left">
          <%-include('./partials/adminSidebar.ejs')%>
        </div>
        <div class="content-body">
          <div class="order-head">User Orders</div>
          <div class="order-table">
            <table>
              <tr>
                <th style="width:10%">Ordered Date</th>
                <th style="width:10%">username</th>
                <th>image</th>
                <th style="width:10%">product</th>                
                <th style="width:1%; text-align:center;">size</th>
                <th style="width:1%;">QTY</th>
                <th style="width:6%">price</th>
                <th style="width:6%">Coupon</th>
                <th style="width:20%">address</th>
                <th style="width:10%">order status</th>
              </tr>
              <%if(orders.length > 0){%>
                <%orders.forEach(function(order){%>
                  <%order.orderedProducts.forEach(function(orderedProduct){%>
                    <tr>
                      <td><%=order.orderedDate.toDateString()%></td>
                      <td><%=order.username%></td>
                      <td class="image">
                        <img src="<%=orderedProduct.productID.images[0]%>" alt="image">
                      </td>
                      <td>
                        <div class="product-detail">
                          <%=orderedProduct.productID.brand%> <%=orderedProduct.productID.color%> Men's <%=orderedProduct.productID.productType%>
                        </div>
                      </td>                  
                      <td style="text-align:center;">
                        <%=orderedProduct.size%>
                      </td>
                      <td style="text-align:center;"><%=orderedProduct.quantity%></td>
                      <td>Rs. <%=orderedProduct.totalPrice%></td>
                      <td style="text-align: center;": center;"><%=orderedProduct.couponAdded ? 'Added' : '-'%></td>
                      <td>
                        <div class="addName"><%=order.address.name%></div>
                        <div class="address"><%=order.address.address%></div>
                        <div class="addPlace"><%=order.address.city%>, <%=order.address.pincode%>, <%=order.address.district%></div>
                        <div class="phone"><%=order.address.phone%></div>
                      </td>
                      <td>
                        <div class="admin-order-status-section">
                          <%if(orderedProduct.orderStatus === 'requested'){%>
                            <div id="request-note">*User request for product return</div>
                            <div class="buttons">
                              <button id="accept" onclick="requestResponse('<%=order._id%>','<%=orderedProduct._id%>', 'request accepted',event)">Accept</button>
                              <button id="decline" onclick="requestResponse('<%=order._id%>','<%=orderedProduct._id%>', 'request rejected',event)">Decline</button>
                            </div>
                          <%}else{%>
                            <div class="order-status"><%=orderedProduct.orderStatus%></div>
                            <form action="/admin/orderStatus" method="post"  onsubmit="submitStatus(event,'<%=order._id%>','<%=orderedProduct._id%>')" data-orderid = "<%=order._id%>">
                              <select name="status" id="<%=order._id%>" class="status" >
                                <option value="on progress">on progress</option>
                                <option value="delivered">delivered</option>
                                <option value="cancelled">cancelled</option>                                                               
                                <%if(orderedProduct.orderStatus === 'request accepted'){%>
                                  <option value="returned">returned</option>
                                <%}%>
                                
                                <option value="pending">pending</option>
                              </select>
                              <input type="submit">
                            </form>
                          <%}%>
                          
                        </div>
                        
                      </td>
                    </tr>
                  <%})%>                
                <%})%>
              <%}%>
            </table>
          </div>
          
        </div>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
          // set default select on options
          document.addEventListener('DOMContentLoaded',function(){
            const selectElem = document.querySelectorAll('.status');
            selectElem.forEach( function(select){
              const selectID = select.id;
              const selectedValue = localStorage.getItem(selectID);

              select.addEventListener('change',async function(event){
                const selectedValue = event.target.value;
                localStorage.setItem(selectID,selectedValue);
              })
              

              if(selectedValue){
                const options = select.querySelectorAll('option');
                options.forEach(function(option){
                  if(option.value === selectedValue){
                    option.selected = true
                  }
                })
              }
            })
          })

          // accept decline requests
          async function requestResponse(orderID,docID,response,event){
            event.preventDefault()
            try{
              const serverResponse = await fetch('/admin/handleUserRequest',{
                method:'POST',
                headers:{
                  'Content-Type':'application/json',
                },
                body:JSON.stringify({orderID,docID,response})
              })
              if(serverResponse.ok){
                const data = await serverResponse.json();
                window.location.reload();
              }
              else{
                console.log('error');
              }
            }
            catch(error){
              console.log("error",error);
            }
          }

          // form submission
          async function submitStatus(event,orderID,productDocID){
              event.preventDefault();
              const selectValue = event.target.querySelector('select').value;
              if(selectValue === 'cancelled'){
                const result = await confirmCancel();
                if(result.isConfirmed){
                  cancelOrder(event,productDocID,orderID,selectValue)
                }
              }
              else{
                try{
                  const response = await fetch('/admin/changeOrderStatus',{
                    method:'POST',
                    headers:{
                      'Content-Type':'application/json'
                    },
                    body:JSON.stringify({orderID,productDocID,status:selectValue})
                  })
                  if(response.ok){
                    const data = await response.json();
                    const orderStatus = event.target.parentNode.querySelector('.order-status').innerText = data.status;
                    const selectID = event.target.querySelector('select').id;
                    localStorage.setItem(selectID,selectValue);
                  }
                }
                catch(error){
                  console.log("error",error);
                }
              }
          }

          async function confirmCancel(){
            const result = await Swal.fire({
            title: 'You are about to cancel this order!',
            text: '',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Continue',
            cancelButtonText: 'Cancel',
            })   
            return result; 
          }
          
          async function cancelOrder(event,productDocID,orderID,status){
            try{
              const resposne = await fetch(`/admin/changeOrderStatus`,{
                method:'POST',
                headers:{
                  'Content-Type':'application/json'
                },
                body:JSON.stringify({orderID,productDocID,status})
              })
              if(resposne.ok){
                const data = await resposne.json();
                const orderstatus = event.target.parentNode.querySelector('.order-status').innerText = 'cancelled';
                const selectID = event.target.querySelector('select').id;
                localStorage.setItem(selectID,'cancelled')
                
              }
            }
            catch(error){
              console.log("error, ",error);
            }
          }

          
        </script>
  </body>
</html>
