<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/f620fbbfb3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./styles/nav.css" />
    <link rel="stylesheet" href="/styles/clientside/cart.css" />

    <title>Cart</title>
  </head>
  <body>
    <!-- headers -->
    <%-include('./partials/navbar.ejs')%>

    <div class="cart-body">
      <!-- left section -->
      <div class="cart-leftSection">
        <div class="left-top-row">
          <div class="cart-head">
            <div class="cart-name">My Cart</div>
            <div class="item-sum">total items in cart: <%=totalCart%></div>
          </div>
        </div>
        <%if(carts.length > 0){%> <%carts.forEach(function(cart){%>
        <div class="cart-box" data-cart-id="<%=cart._id%>">
          <div class="image">
            <img src="<%=cart.productID.images[0]%>" alt="product image" />
          </div>
          <div class="details-section">
            <div class="brand"><%=cart.productID.brand%></div>
            <div class="detail-note">
              <%=cart.productID.color%> <%=cart.productID.pattern%> Men's
              <%cart.productID.fabric%> <%=cart.productID.productType%>
            </div>
            <div class="price">
              <div class="selling">
                <%const sellingPrice = cart.productID.productOffer ?
                cart.productID.productOffer.sellingPrice :
                cart.productID.sellingPrice %>
                <span class="selling-price">Rs. <%=sellingPrice%></span> +
                <span class="gst-amount"
                  >Rs. <%=sellingPrice > 1000 ? Math.round(sellingPrice *
                  (12/100)) : Math.round(sellingPrice * (5/100))%></span
                >
                <span class="gst-note"
                  >(<%=sellingPrice > 1000 ? `${12}% GST` : `${5}% GST`%>)</span
                >
              </div>
              <div class="actual">Rs. <%=cart.productID.actualPrice%></div>
            </div>
            <div class="color">color: <%=cart.productID.color%></div>

            <div class="size-and-quantity">
              <div class="size-box">
                <div class="size">size</div>
                <div class="value"><%=cart.size%></div>
              </div>
              <div class="quantity-box">
                <div class="quantity">quantity</div>
                <div class="values">
                  <div
                    class="iconDown"
                    onclick="reduceQuantity(event,'<%=cart._id%>')"
                  >
                    -
                  </div>
                  <div class="value" id="cart-quantity"><%=cart.quantity%></div>
                  <div
                    class="iconUp"
                    onclick="addQuantity(event,'<%=cart._id%>')"
                  >
                    +
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cart-options">
            <a
              href="/product-addTo-wishlist/<%=cart._id%>"
              id="wishlist"
              style="text-decoration: none"
              onclick="addToWishlist(event,'<%=cart.productID._id%>')"
              ><%if(cart.productID.addedToWishlist){%>
              <i
                id="solidHeart"
                class="fa-solid fa-heart"
                style="color: rgb(190, 19, 19)"
              ></i>
              <%}else{%>
              <i
                id="regularHeart"
                class="fa-regular fa-heart"
                style="color: black"
              ></i>
              <%}%></a
            >
            <a
              href="/product-removefrom-cart/<%=cart._id%>"
              id="remove"
              onclick="removeCartItem('<%=cart._id%>',event)"
              style="text-decoration: none"
              ><i class="fa-solid fa-trash-can" style="color: #000000"></i
            ></a>
          </div>
        </div>

        <%})%> <%}else{%>
        <div class="div">
          <p class="no-content">{No products in cart}</p>
        </div>

        <%}%>
      </div>
      <div class="cart-rightSection">
        <div class="amount-summary-box">
          <div class="total-amount">
            Total: <span>₹</span><span class="Amount"><%=totalAmount%></span>
          </div>
          <div class="amount-details">
            <div class="bag-label">Bag Total</div>
            <div class="bag-total">
              &#8377;<span id="bag-total-amount"><%=bagTotal%></span>
            </div>
          </div>
          <hr />
          <div class="amount-details">
            <div class="gst-label">GST</div>
            <div class="total gst">&#8377;<%=totalGST%></div>
          </div>
          <div class="amount-details">
            <div class="delivery-label">Delivery Charge</div>
            <div class="total">-</div>
          </div>
        </div>
        <div class="order-button">
          <a
            href="/checkout-page"
            style="text-decoration: none"
            onclick="cartValidation(event,'<%=carts%>')"
            >Place Your Order</a
          >
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      // remove cart item
      async function removeCartItem(cartID, event) {
        event.preventDefault();

        const cartBox = event.target.parentNode.parentNode.parentNode;
        console.log(cartBox);
        const cartTotal = document.querySelector(
          ".total-amount .Amount"
        ).innerText;
        const userDecision = await deleteAlert();
        if (userDecision.value) {
          removeItem(cartID, cartBox, cartTotal);
        }
      }

      async function deleteAlert() {
        const result = await Swal.fire({
          title: "Are you sure?",
          text: "You are about to remove this product from the cart!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Remove",
          cancelButtonText: "Cancel",
        });
        return result;
      }

      async function removeItem(cartID, cartBox, cartTotal) {
        try {
          const response = await fetch(`/product-removefrom-cart`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ cartID, cartTotal }),
          });
          if (response.ok) {
            const data = await response.json();
            cartBox.remove();
            localStorage.removeItem("selectedSize");
            document.querySelector(".total-amount .Amount").innerText =
              data.newCartTotal;
            document.querySelector(
              ".amount-details .bag-total #bag-total-amount"
            ).innerText = data.newCartTotal;
            console.log("cart removed");
            window.location.reload();
          }
        } catch (error) {
          console.log("error when removing cart item", error);
          window.location.href = "/cart-page";
        }
      }

      // add product quantity
      async function addQuantity(event, cartID) {
        try {
          let currentQuantity =
            event.target.parentNode.querySelector("#cart-quantity").innerText;

          const newCartData = await fetch("/increase-product-quantity", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ cartID, currentQuantity }),
          });
          if (!newCartData.ok) {
            console.log("quantity updation failed");
          } else {
            const cart = await newCartData.json();
            if (cart.cartError) {
              window.location.href = "/";
            } else if (cart.limitError) {
              console.log("reached max quantity");
            } else {
              const cartQuantity = (event.target.parentNode.querySelector(
                "#cart-quantity"
              ).innerText = cart.quantity);

              document.querySelector(
                ".total-amount .Amount"
              ).innerText = `${cart.totalAmount}`;
              document.querySelector(
                ".amount-details .bag-total #bag-total-amount"
              ).innerText = `${cart.bagTotal}`;
              document.querySelector(
                ".amount-details .gst"
              ).innerText = `₹${cart.totalGST}`;
            }
          }
        } catch (error) {
          console.log(error);
        }
      }

      // nav bar
      const profileButton = document.querySelector("#profile-button");
      const content = document.querySelector(".dropdown-content");

      profileButton.addEventListener("click", function (event) {
        event.preventDefault();
        content.style.display =
          content.style.display === "none" ? "block" : "none";
      });

      // reduce product quantity
      async function reduceQuantity(event, cartID) {
        try {
          const currentQuantity =
            event.target.parentNode.querySelector("#cart-quantity").innerText;
          console.log(currentQuantity);
          const currentTotalPrice = parseInt(
            document.querySelector(".total-amount .Amount").innerText
          );
          const currentBagTotal =
            document.getElementById("bag-total-amount").innerText;
          const updatedData = await fetch("/decrease-product-quantity", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              cartID,
              currentQuantity,
              currentTotalPrice,
              currentBagTotal,
            }),
          });

          if (!updatedData.ok) {
            console.log("failed to update the quantity");
          } else {
            const data = await updatedData.json();
            // checking the message
            if (data.limitError) {
              console.log("can't reduce the quantity to 0");
            } else {
              const cartQuantity =
                event.target.parentNode.querySelector("#cart-quantity");
              cartQuantity.innerText = data.quantity;

              document.querySelector(".total-amount .Amount").innerText =
                data.totalAmount;
              document.querySelector(
                ".amount-details .bag-total #bag-total-amount"
              ).innerText = data.bagTotal;
              document.querySelector(
                ".amount-details .gst"
              ).innerText = `₹${data.totalGST}`;
            }
          }
        } catch (error) {
          console.log("error occured in clied side js", error);
        }
      }

      // add to wishlist
      async function addToWishlist(event, productID) {
        event.preventDefault();
        try {
          const response = await fetch("/addToWishlist", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ productID }),
          });
          if (response.ok) {
            const data = await response.json();
            if (data.stat === "added") {
              const element = event.target;
              element.classList.remove("fa-regular");
              element.classList.add("fa-solid");
              element.style.color = "rgb(190, 19, 19)";
            } else if (data.stat === "removed") {
              const element = event.target;
              element.classList.remove("fa-solid");
              element.classList.add("fa-regular");
              element.style.color = "black";
            }
          }
        } catch (error) {
          console.log("error", error);
        }
      }

      // validate cart before to the checkout page
      function cartValidation(event, carts) {
        if (!carts.length > 0) {
          event.preventDefault();
          window.alert("cart is empty");
        }
      }

      // remove the selected size
      document.addEventListener("DOMContentLoaded", function () {
        localStorage.removeItem("selectedSize");
      });
    </script>
  </body>
</html>
