<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/styles/nav.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>checkout page</title>
    

    <style>
      body {
        font-family: "poppins", sans-serif;
        padding-bottom: 100px;
        background-color: rgb(253, 253, 253);
      }
      .cart-body {
        width: 90%;
        margin: 80px auto;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
      }
      /* cart left section */
      form {
        width: 68%;
      }
      .cart-left-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
      }
      .cart-products-section .cart-products-section-head {
        font-size: 17.5px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      /* product card */
      .product-card-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
      }
      .product-card {
        display: flex;
        border: 1px solid rgb(229, 229, 229);
        background-color: white;
        padding: 8px;
        border-radius: 2px;
      }
      .image {
        width: 18%;
        height: auto;
      }
      .product-card .image img {
        width: 100%;
        object-fit: contain;
      }
      .product-card .product-details {
        display: flex;
        flex-direction: column;
        line-height: 20px;
        margin-top: 5px;
        margin-left: 10px;
      }
      .product-card .product-details .product-price {
        font-weight: 500;
      }
      /* total quantity */
      .total-quantity {
        margin-top: 20px;
        font-size: 14px;
        color: rgb(84, 84, 84);
        border: 1px solid rgb(231, 231, 231);
        background-color: white;
        display: inline-block;
        padding: 1px 7px;
      }

      /* address section */
      .address-section {
        margin-top: 30px;
      }
      .address-section-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
      }
      .change-address a {
        font-size: 15px;
        color: rgb(164, 31, 31);
      }
      .address-section-head-label {
        font-weight: 500;
        font-size: 17px;
      }
      .address-box {
        line-height: 20px;
        border: 1px solid rgb(213, 213, 213);
        background-color: white;
        padding: 15px;
        font-size: 15px;
        color: rgb(67, 66, 66);
        border-radius: 3px;
      }
      .default-address-box {
        border: 1px solid rgb(230, 230, 230);
        box-shadow: 0px 2px 5px rgb(234, 234, 234);
        padding: 10px;
        display: flex;
        justify-content: space-between;
      }
      .default-address-head {
        font-weight: 500;
        color: rgb(6, 127, 6);
        margin-bottom: 5px;
        font-size: 14px;
      }
      .address-box-head {
        font-weight: 500;
        font-size: 16px;
        color: black;
        margin-bottom: 2px;
      }
      #message {
        margin: 0;
        font-size: 15px;
        font-weight: 500;
        color: rgb(167, 166, 166);
      }
      /* address dropdown */

      .addresses {
        margin: 0;
        margin-top: 40px;
        padding: 10px 8px;
        border-radius: 3px;
        border: 1px solid rgb(234, 234, 234);
        background-color: rgb(248, 248, 248);
        display: flex;
        align-items: flex-start;
        transition: box-shadow 0.2s;
      }
      .addresses:hover {
        box-shadow: 0px 2px 7px rgb(237, 237, 237);
      }
      .addresses input:hover,
      .addresses label:hover {
        cursor: pointer;
      }
      .addresses label {
        margin-left: 1%;
      }

      /* payment section */
      .payment-section {
        margin-top: 30px;
      }
      .payment-section-head {
        font-weight: 500;
        font-size: 17px;
      }
      .payment-options {
        margin-top: 15px;
      }
      /* upi payment */

      .upi-payment-dropdown,
      .debitcard-payment-dropdown,
      .internetBanking-payment-dropdown,
      .COD-payment-dropdown,
      .wallet-payment-dropdown {
        border: 1px solid rgb(213, 213, 213);
        background-color: white;
        padding: 5px 15px;
        margin-bottom: 5px;
        color: rgb(82, 82, 82);
      }

      /* label */
      .upi-payment-dropdown label,
      .debitcard-payment-dropdown label,
      .internetBanking-payment-dropdown label,
      .COD-payment-dropdown label,
      .wallet-payment-dropdown label {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .upi-payment-dropdown label span,
      .debitcard-payment-dropdown label span,
      .internetBanking-payment-dropdown label span,
      .COD-payment-dropdown label span,
      .wallet-payment-dropdown label span {
        font-weight: 500;
        transform: rotate(90deg);
      }
      /* label hover */
      .upi-payment-dropdown:hover label,
      .debitcard-payment-dropdown:hover label,
      .internetBanking-payment-dropdown:hover label,
      .COD-payment-dropdown:hover label .wallet-payment-dropdown:hover label {
        color: black;
      }
      label + input[type="radio"] {
        display: none;
      }
      /* COD place order button */
      .COD-payment-dropdown .content {
        display: flex;
        justify-content: end;
      }
      .COD-payment-dropdown .content button {
        color: white;
        font-weight: 500;
        background-color: rgb(199, 166, 45);
        font-size: 15px;
        padding: 2px 8px;
        border-radius: 3px;
        border: none;
        margin-top: 15px;
        transition: background-color 0.5s;
      }
      .COD-payment-dropdown .content button:hover {
        /* background-color: rgb(154, 132, 51); */
        text-decoration: none;
        cursor: pointer;
      }

      /* wallet */
      .wallet-payment-dropdown .content {
        display: flex;
        justify-content: end;
        align-items: end;
        margin-top: 9px;
      }
      .wallet-payment-dropdown .content .payment-success {
        font-weight: 500;
      }
      .wallet-payment-dropdown .content .order-button {
        color: white;
        font-weight: 500;
        background-color: rgb(199, 166, 45);
        font-size: 15px;
        padding: 2px 8px;
        border-radius: 3px;
        border: none;
        margin-top: 15px;
        transition: background-color 0.5s;
      }
      .wallet-payment-dropdown .content .payment-error {
        color: rgb(189, 26, 26);
        font-size: 15px;
      }

      .wallet-payment-dropdown .content .order-button:hover {
        cursor: pointer;
      }

      /* hide content */
      .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.8s;
      }
      .payment-section input[type="radio"]:checked + .content {
        max-height: 400px;
      }

      /* amount section */
      .checkout-right-section {
        width: 29%;
      }
      .amount-box {
        margin-top: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px rgb(231, 231, 231);
        padding: 12px 20px;
      }
      .total-amount {
        font-size: 18px;
        margin-bottom: 20px;
        color: rgb(90, 90, 90);
      }
      .total-amount span {
        font-size: 21px;
        font-weight: 500;
        color: black;
      }
      .amount-details {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
      }
      .amount-details .detail-label {
        color: rgb(90, 90, 90);
      }
      .coupon-input {
        margin-top: 27px;
        position: relative;
      }
      .coupon-error {
        position: absolute;
        top: -22px;
        font-size: 15px;
        color: rgb(185, 30, 30);
      }
      #couponCode {
        margin: 0px 0px 5px;
        border: 1px solid rgb(176, 175, 175);
        padding: 5px;
        display: block;
        font-size: 15px;
        font-style: italic;
        outline: none;
        width: 100%;
      }
      /* js generated element */
      .couponMessage {
        font-size: 13px;
        margin: 0;
        margin-bottom: 2px;
        color: rgb(100, 98, 98);
      }
      #selectedCouponID {
        margin: 0;
        font-weight: 500;
        font-size: 17px;
        color: rgb(51, 51, 51);
        margin-bottom: 5px;
        background-color: rgb(229, 229, 229);
        display: inline-block;
      }

      /* ---- */
      #couponSubmit {
        border: 1px solid rgb(60, 60, 60);
        padding: 3px 5px;
        color: black;
        background-color: white;
        display: block;
        margin-top: 7px;
        font-size: 12px;
      }
      #couponSubmit:hover {
        cursor: pointer;
      }

      #changeDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      /* coupon box */
      .couponBox {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px rgb(231, 231, 231);
        padding: 10px;
        margin-top: 15px;
      }
      .coupon-box-head {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .coupon {
        background-color: rgb(255, 255, 246);
        margin-bottom: 8px;
        padding: 7px;
        border: 1px solid rgb(210, 210, 210);
      }
      .coupon-head {
        font-weight: 500;
        margin-bottom: 4px;
      }
      .criteria {
        font-size: 15.5px;
        color: rgb(68, 67, 67);
      }
      .criteria span {
        font-weight: 500;
        color: black;
      }
      .expiry-date {
        font-size: 13px;
        color: rgb(131, 131, 131);
        margin-top: 3px;
      }
      .expiry-date span {
        font-weight: 500;
      }
      .no-coupon {
        font-size: 14px;
        color: rgb(145, 144, 144);
      }
      .code {
        margin-top: 10px;
      }
      .code-head {
        font-size: 13px;
      }
      .couponCode {
        background-color: rgb(230, 230, 230);
        font-style: italic;
        padding: 5px;
        display: inline;
      }
    </style>
  </head>
  <body>
    <!-- header -->
    <%-include('./partials/navbar.ejs')%>
    <div class="cart-body">
      <form action="/place-order" method="post">
        <div class="cart-left-section">
          <!-- product section -->
          <div class="cart-products-section">
            <div class="cart-products-section-head">Your Orders</div>
            <!-- product card -->
            <div class="product-card-list">
              <%userCart.forEach(function(cart){%>
              <div class="product-card">
                <div class="image">
                  <img
                    src="<%=cart.productID.images[0]%>"
                    alt="product photo"
                  />
                </div>
                <div class="product-details">
                  <div class="product-head">
                    <%=cart.productID.brand%> <%=cart.productID.color%>
                    <%=cart.productID.pattern%> <%=cart.productID.productType%>
                  </div>
                  <div class="product-price">
                    Rs. <%=cart.productID.productOffer ?
                    cart.productID.productOffer.sellingPrice :
                    cart.productID.sellingPrice%>
                  </div>
                </div>
                <!-- cart id -->
                <input type="hidden" name="cartID" value="<%=cart._id%>" id="cartIDs"/>
              </div>
              <%})%>
            </div>
            <div class="total-quantity">total quantity: <%=totalQuantity%></div>
          </div>
          <!-- address section -->
          <div class="address-section">
            <div class="address-section-head">
              <div class="address-section-head-label">Deliver To</div>
              <div class="change-address">
                <a href="/add-new-address" style="text-decoration: none"
                  >add new address</a
                >
              </div>
            </div>
            <div class="address-box">
              <%const address = defaultAddress ?? 'no address selected'%>
              <%if(typeof address != 'string'){%>
              <div class="default-address-box" data-address="<%=address%>">
                <div class="default-address">
                  <div class="address-box-head">
                    <%=address.name%>, <%=address.pincode%>, <%=address.city%>
                  </div>
                  <div class="address"><%=address.address%></div>
                  <div class="place-and-pin">
                    <%=address.city%>, <%=address.pincode%>
                  </div>
                  <div class="address-number"><%=address.phone%></div>
                </div>
                <div class="default-address-head">Default Address</div>
              </div>
              <!-- sending address -->
              <input
                type="hidden"
                name="address"
                value="<%=address._id%>"
                id="order-default-address"
              />

              <%}else{%>
              <p id="message"><%=address%></p>
              <%}%>

              <!-- dropdown address -->
              <div class="address-dropdown">
                <form action="/manage-address">
                  <%if(addresses.length > 0){%>
                  <%addresses.forEach(function(address){%>
                  <div class="addresses">
                    <input
                      type="radio"
                      name="defaultAddress"
                      id="default_<%=address._id%>"
                      value="<%=address._id%>"
                      onclick="setDefault('<%=address._id%>')"
                    />
                    <label
                      for="default_<%=address._id%>"
                      onclick="setDefault('<%=address._id%>')"
                    >
                      <div class="address-box-head">
                        <%=address.name%>, <%=address.pincode%>,
                        <%=address.city%>
                      </div>
                      <div class="address"><%=address.address%></div>
                      <div class="place-and-pin">
                        <%=address.city%>, <%=address.pincode%>
                      </div>
                      <div class="address-number"><%=address.phone%></div>
                    </label>
                  </div>
                  <%})%> <%}else{%>
                  <p class="dropdown-message">No address added</p>
                  <%}%>
                </form>
              </div>
            </div>
          </div>
          <div class="payment-section">
            <div class="payment-section-head">Payment Options</div>
            <div class="payment-options">
              <!-- upi payment -->
              <div class="upi-payment-dropdown">
                <label for="upi">UPI ID <span>&#x3e;</span></label>
                <input type="radio" name="payment" id="upi" />
                <div class="content"></div>
              </div>

              <!-- debit card payment -->
              <div class="debitcard-payment-dropdown">
                <label for="debitcard">Debit Card <span>&#x3e;</span></label>
                <input type="radio" name="payment" id="debitcard" />
                <div class="content">
                  <a href="">lorem7</a>
                </div>
              </div>

              <!-- internet banking -->
              <div class="internetBanking-payment-dropdown">
                <label for="internetBanking"
                  >Internet Banking <span>&#x3e;</span></label
                >
                <input type="radio" name="payment" id="internetBanking" value="razorpay"/>
                <div class="content">
                  <button type="button" id="rzp-button1">Pay Via Razorpay</button>
                </div>
              </div>

              <!-- wallet -->
              <div class="wallet-payment-dropdown">
                <label for="wallet">Wallet <span>&#x3e;</span></label>
                <input type="radio" name="payment" id="wallet" value="wallet" />
                <div class="content">
                  <%if(totalAmount > walletTotal){%>
                  <div class="payment-error">
                    You don't have sufficient amount in the
                    <a href="/wallet">wallet</a> for this purchase!
                  </div>
                  <%}else{%>
                  <button class="order-button">Place Order</button>
                  <%}%>
                </div>
              </div>

              <!-- cash on delivery -->
              <div class="COD-payment-dropdown">
                <label for="COD">Cash on Delivery <span>&#x3e;</span></label>
                <input
                  type="radio"
                  name="payment"
                  id="COD"
                  value="cash-on-delivery"
                />
                <div class="content">
                  <button type="submit" id="codButton">Place Order</button>
                </div>
              </div>
            </div>
          </div>
          <!-- hidden order total -->
          <input
            type="hidden"
            name="orderTotal"
            value="<%=totalAmount%>"
            id="orderTotal"
          />
          <input type="hidden" name="usedCouponID" id="usedCouponID" />
        </div>
      </form>
      <div class="checkout-right-section">
        <div class="amount-box">
          <div class="total-amount">
            Total: <span>Rs.</span>
            <span class="Amount"><%=totalAmount%></span>
          </div>
          <div class="amount-details">
            <div class="detail-label">Bag Total</div>
            <div class="total"><%=totalAmount%></div>
          </div>
          <div class="amount-details">
            <div class="detail-label">Coupon Deducted</div>
            <div class="coupon-deducted">-</div>
          </div>
          <div class="amount-details">
            <div class="detail-label">Delivery Charge</div>
            <div class="delivery-charge">-</div>
          </div>
          <div class="amount-details">
            <div class="detail-label">GST</div>
            <div class="gst">-</div>
          </div>
          <div class="coupon-input">
            <div class="coupon-left">
              <p class="coupon-error" style="margin: 0"></p>
              <input
                type="text"
                id="couponCode"
                placeholder="Enter Coupon ID"
              />
            </div>
            <div class="coupon-right">
              <button id="couponSubmit">Select Coupon</button>
            </div>
          </div>
        </div>
        <div class="couponBox">
          <%if(coupons.length > 0){%>
          <div class="coupon-box-head">Available Coupons</div>
          <%coupons.forEach(function(coupon){%> <%if(totalAmount >
          coupon.minimumAmount){%>
          <div class="coupon" data-id="<%=coupon._id%>">
            <div class="coupon-head"><%=coupon.coupon_head%></div>
            <div class="criteria">
              You will have an offer of <span><%=coupon.offerAmount%>%</span>
              for you whole purchase
            </div>
            <%const date = coupon.endDate.toDateString()%>
            <div class="expiry-date">
              Coupon Expires on <span><%=date%></span>
            </div>
            <div class="code">
              <div class="couponCode"><%=coupon.couponCode%></div>
            </div>
          </div>
          <%}%> <%})%> <%} else{%>
          <div class="no-coupon">No coupon left for this purchase</div>
          <%}%>
        </div>
      </div>
    </div>
    <span id="price" data-totalprice="<%=totalAmount%>"></span>
    <script>
      // nav bar
      const profileButton = document.querySelector("#profile-button");
      const content = document.querySelector(".dropdown-content");

      profileButton.addEventListener("click", function (event) {
        event.preventDefault();
        content.style.display =
          content.style.display === "none" ? "block" : "none";
      });
      // ----------------

      async function setDefault(addressID) {
        console.log(addressID);
        try {
          const data = await fetch("/setDefaultAddress", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              addressID,
            }),
          });

          const response = await data.json();
          if (response.message) {
            console.log(response.message);
          } else {
            // address head
            document.querySelector(
              ".address-box-head"
            ).innerText = `${response.address.name}, ${response.address.pincode}, ${response.address.city}`;

            // address
            document.querySelector(".address").innerText =
              response.address.address;

            // place and pin
            document.querySelector(
              ".place-and-pin"
            ).innerText = `${response.address.city}, ${response.address.pincode}`;

            // number
            document.querySelector(".address-number").innerText =
              response.address.phone;

            // set default address tooo
            document.querySelector(
              "#order-default-address"
            ).value = `${response.address._id}`;
          }
        } catch (error) {
          console.log(error, "error when setting default address via fetch");
        }
      }

      // submitting to place order
      const button = document.querySelector("#codButton");
      button.addEventListener("click", function (event) {
        const addressData = document.querySelector(".default-address-box")
          .dataset.address;
        const addressFunction = Function(
          `"use strict";return (${addressData})`
        );
        const defaultAddress = addressFunction ?? "";
        if (typeof addressFunction != "function") {
          window.alert("enter set default address");
          event.preventDefault();
        } else {
          localStorage.removeItem("couponCode");
          localStorage.removeItem("usedCoupon");
          localStorage.removeItem("orderTotal");
          localStorage.removeItem("couponID");
          console.log("checkout completed");
        }
      });

      // add coupon to product
      const submit = document.querySelector("#couponSubmit");
      submit.addEventListener("click", async function () {
        const inputField = document.getElementById("couponCode");
        if (inputField.value === "") {
          inputField.parentNode.querySelector(".coupon-error").innerText =
            "Invalid Entry";
          setTimeout(function () {
            inputField.parentNode.querySelector(".coupon-error").innerText = "";
          }, 2500);
        } else {
          try {
            // validatind and then adding couponcode to the database (FETCH API)
            const couponCode = inputField.value;
            const totalAmount = document.querySelector(
              ".total-amount .Amount"
            ).innerText;
            const response = await fetch("/add-coupon-product", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ couponCode, totalAmount }),
            });

            if (response.ok) {
              const data = await response.json();
              const usedCouponID = data.usedCouponDoc;
              document.querySelector("#usedCouponID").value = usedCouponID;

              // setting new amount
              document.querySelector(".total-amount .Amount").innerText =
                data.newAmount;
              document.querySelector("#orderTotal").value = data.newAmount;
              localStorage.setItem("orderTotal", data.newAmount);

              // setting deducted amount
              document.querySelector(
                ".amount-details .coupon-deducted"
              ).innerText = data.deductedAmount;
              // ---------------------------

              // setting fields in the local storage
              localStorage.setItem("usedCoupon", usedCouponID);
              localStorage.setItem("couponCode", couponCode);

              // changing the input field
              const inputField = document.querySelector("#couponCode");
              const newElement = document.createElement("p");
              newElement.id = "selectedCouponID";
              newElement.textContent = couponCode;
              inputField.parentNode.replaceChild(newElement, inputField);

              // chnaging the error message
              const existingPTag = document.querySelector(".coupon-error");
              const newPTag = document.createElement("p");
              newPTag.className = "couponMessage";
              newPTag.textContent = "Selected Coupon:";
              existingPTag.parentNode.replaceChild(newPTag, existingPTag);
              // changing the submit button
              const existingButton = document.querySelector("#couponSubmit");
              const newButton = document.createElement("button");
              newButton.id = existingButton.id;
              newButton.className = "cancelCoupon";
              newButton.style.border = "1px solid rgb(194, 32, 23)";
              newButton.style.color = "rgb(194, 32, 23)";
              newButton.textContent = "Cancel Coupon";
              existingButton.parentNode.replaceChild(newButton, existingButton);

              newButton.addEventListener("click", async function () {
                try {
                  const response = await fetch("/cancel-coupon", {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ usedCouponID }),
                  });

                  if (response.ok) {
                    const data = await response.json();
                    document.getElementById("usedCouponID").value = "";
                    localStorage.removeItem("couponCode");
                    localStorage.removeItem("usedCoupon");
                    localStorage.removeItem("orderTotal");
                    localStorage.removeItem("couponID");
                    window.location.reload();
                  } else {
                    console.log(
                      "some thing went wrong in serverside when cancelling coupon"
                    );
                  }
                } catch (error) {
                  console.log("error", error);
                }
              });

              // changing the display of coupon section (input section)
              const codeDiv = document.querySelector(".coupon-input");
              codeDiv.id = "changeDisplay";

              // hiding selected coupon
              const couponBox = document.querySelector(
                `[data-id="${data.couponID}"]`
              );
              couponBox.remove();
            } else if (response.status === 404) {
              // --- wrong coupon code
              inputField.parentNode.querySelector(".coupon-error").innerText =
                "Invalid Coupon Code";
              setTimeout(function () {
                inputField.parentNode.querySelector(".coupon-error").innerText =
                  "";
                inputField.value = "";
              }, 2500);
            } else if (response.status === 409) {
              // matching coupon code
              inputField.parentNode.querySelector(".coupon-error").innerText =
                "Coupon Already Used";
              setTimeout(function () {
                inputField.parentNode.querySelector(".coupon-error").innerText =
                  "";
              }, 2500);
            }
          } catch (error) {
            console.log("error in client side js", error);
          }
        }
      });

      document.addEventListener("DOMContentLoaded", async function () {
        const coupon = localStorage.getItem("usedCoupon");
        const couponCode = localStorage.getItem("couponCode");

        if (coupon) {
          try {
            const response = await fetch(`/get-coupon?couponID=${coupon}`, {
              method: "GET",
            });
            if (response.ok) {
              const data = await response.json();
              document.querySelector(".total-amount .Amount").innerText =
                data.newAmount;
              document.querySelector("#orderTotal").value =
                localStorage.getItem("orderTotal");
              document.querySelector(
                ".amount-details .coupon-deducted"
              ).innerText = data.deductedAmount;
              document.getElementById("#usedCouponID").value = coupon;

              // changing the input field
              const inputField = document.querySelector("#couponCode");
              const newElement = document.createElement("p");
              newElement.id = "selectedCouponID";
              newElement.textContent = couponCode;
              inputField.parentNode.replaceChild(newElement, inputField);

              // chnaging the error message
              const existingPTag = document.querySelector(".coupon-error");
              const newPTag = document.createElement("p");
              newPTag.className = "couponMessage";
              newPTag.textContent = "Selected Coupon:";
              existingPTag.parentNode.replaceChild(newPTag, existingPTag);

              // changing the submit button
              const existingButton = document.querySelector("#couponSubmit");
              newButton = document.createElement("button");
              newButton.id = existingButton.id;
              newButton.className = "cancelCoupon";
              newButton.style.border = "1px solid rgb(194, 32, 23)";
              newButton.style.color = "rgb(194, 32, 23)";
              newButton.textContent = "Cancel Coupon";
              existingButton.parentNode.replaceChild(newButton, existingButton);

              newButton.addEventListener("click", async function () {
                try {
                  const response = await fetch("/cancel-coupon", {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ usedCouponID: coupon }),
                  });
                  if (response.ok) {
                    const data = await response.json();
                    localStorage.removeItem("usedCoupon");
                    localStorage.removeItem("couponCode");
                    localStorage.removeItem("orderTotal");
                    localStorage.removeItem("couponID");
                    window.location.reload();
                  }
                } catch (error) {
                  console.log("error", error);
                }
              });

              // adding id to coupon section (input section)
              const codeDiv = document.querySelector(".coupon-input");
              codeDiv.id = "changeDisplay";

              // hiding selected coupon
              const couponID = localStorage.getItem("couponID");
              const couponBox = document.querySelector(
                `[data-id="${data.couponID}"]`
              );
              couponBox.style.opacity = 0.5;
            }
          } catch (error) {
            console.log("error when fetching coupon details", error);
          }
        }
      });
      

      // razor pay logic
      let price = document.getElementById('price')
      let orderprice = document.getElementById("orderTotal").value;      
      document.getElementById('rzp-button1').onclick = function (e) {

        $(document).ready(function () {
          let settings = {
            url: "/create/orderId",
            method: "POST",
            timeout: 0,
            headers: {
              "Content-Type": "application/json",
            },
            data: JSON.stringify({
              amount: orderprice * 100
            }),
          };

          //creates new orderId everytime
          $.ajax(settings).done(function (response) {          
            console.log('response',response);
            orderId = response.orderId;
            orderprice = response.orderprice;
            ordresignature = response.signature;
          });
        });
        let options = {
                    "key": "rzp_test_3y4jRsuaFdH2Kn",
                    "amount": orderprice * 100,
                    "currency": "INR",
                    "name": "moasweb",
                    "description": "Online Payment",
                    "image": "",
                    "order_id": orderId,
                    "handler": function (response) {
                      console.log(response);
                        // Create a form dynamically
                        let form = document.createElement("form");
                        form.method = "POST",
                        form.action = "/place-order";

                        // Create an input element to hold the payment ID
                        var paymentIdInput = document.createElement('input');
                        paymentIdInput.type = 'hidden';
                        paymentIdInput.name = 'razorpay_payment_id';
                        paymentIdInput.value = response.razorpay_payment_id;
                        

                        // input element for adding cart ids
                        const cartIdInput = document.createElement("input");
                        cartIdInput.type = "hidden",
                        cartIdInput.name = "cartID",
                        cartIdInput.value = document.getElementById("cartIDs").value;
                        form.appendChild(cartIdInput);

                        // input element for adding address
                        const addressInput = document.createElement("input");
                        addressInput.type = 'hidden';
                        addressInput.name = "address";
                        addressInput.value = document.getElementById("order-default-address").value;
                        form.appendChild(addressInput);

                        // input element for adding payment
                        const paymentInput = document.createElement("input");
                        paymentInput.type = "hidden";
                        paymentInput.name = "payment";
                        paymentInput.value = "razorpay";
                        form.appendChild(paymentInput);

                        // input element for adding order total
                        const orderTotalInput = document.createElement("input");
                        orderTotalInput.type = "hidden";
                        orderTotalInput.name = "orderTotal";
                        orderTotalInput.value = document.getElementById("orderTotal").value;
                        form.appendChild(orderTotalInput);

                        const usedCouponIDInput = document.createElement("input");
                        usedCouponIDInput.type = "hidden";
                        usedCouponIDInput.name = "usedCouponID";
                        usedCouponIDInput.value = document.getElementById("usedCouponID").value;
                        form.appendChild(usedCouponIDInput);

                        // add the hidden form to the document body
                        document.body.appendChild(form);
                        form.submit();
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.on('payment.failed', function (response) {
                    alert(response.error.code);
                    alert(response.error.description);
                    alert(response.error.source);
                    alert(response.error.step);
                    alert(response.error.reason);
                    alert(response.error.metadata.order_id);
                    alert(response.error.metadata.payment_id);
                });
                rzp1.open();
                e.preventDefault();
                
      }
        </script>

        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    </script>
  </body>
</html>
