<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/f620fbbfb3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/styles/nav.css" />
    <title>Order Page</title>
    <style>
      body {
        font-family: "poppins", sans-serif;
        padding-bottom: 100px;
        background-color: rgb(248, 248, 248);
      }
      .link-section {
        background-color: rgb(248, 248, 248);
        width: 85%;
        position: fixed;
        top: 56px;
        left: 8.5%;
        height: 105px;
        display: flex;
        align-items: end;
        margin: 0px auto 10px;
      }
      .link-section a {
        font-size: 15px;
        color: rgb(178, 178, 178);
        margin-right: 10px;
        margin-bottom: 57px;
        text-decoration: none;
      }
      .link-section span {
        font-size: 15px;
        text-decoration: none;
        color: grey;
        font-weight: 500;
        margin-left: 2px;
        margin-bottom: 57px;
      }
      .page-body {
        width: 85%;
        margin: 110px auto 20px;
        display: flex;
      }
      .sidebar {
        background-color: white;
        position: fixed;
        padding: 10px;
        width: 15%;
        box-shadow: 0px 0px 5px rgb(165, 164, 164);
      }
      .sidebar-head {
        font-size: 17px;
        font-weight: 500;
      }

      /* order section */
      .order-section {
        width: 65%;
        margin-left: 22%;
      }
      .search-box {
        width: 100%;
        background-color: rgb(248, 248, 248);
        position: fixed;
        z-index: 1;
      }
      .search-box input[type="search"] {
        border: none;
        width: 45.5%;
        box-shadow: 0px 0px 5px rgb(165, 164, 164);
        background-color: white;
        padding: 12px 18px;
        outline: none;
        font-size: 16px;
      }
      .search-box input[type="submit"] {
        border: none;
        box-shadow: 0px 0px 5px rgb(165, 164, 164);
        background-color: rgba(39, 177, 83, 0.701);
        padding: 12px 8px;
      }
      input[type="submit"]:hover {
        box-shadow: 0px 0px 5px rgb(165, 164, 164);
      }
      /* ordered date */
      .ordered-date {
        font-size: 15px;
        font-weight: 500;
        color: rgb(158, 158, 158);
        margin-top: 30px;
        margin-bottom: 7px;
      }
      .order-date:first-child {
        margin-top: 50px;
      }

      /* product card */
      .product-card {
        background-color: white;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        box-shadow: 0px 0px 5px rgb(185, 184, 184);
        padding: 15px 20px;
        text-decoration: none;
        color: black;
        transition: box-shadow 0.3s;
      }

      #product-card:hover {
        cursor: pointer;
      }
      .product-card:hover {
        text-decoration: none;
        color: black;
        box-shadow: 0px 0px 9px rgb(161, 160, 160);
      }
      /* static card */
      .product-left-multi .head {
        font-size: 17px;
      }
      .discount-price {
        font-weight: 500;
        font-size: 18px;
      }
      .product-left-multi .date {
        font-size: 14px;
        color: rgb(127, 127, 127);
        margin-top: 8px;
        font-style: italic;
      }

      .product-right-multi {
        display: flex;
      }
      .status-section {
        margin-right: 20px;
      }
      .status-section button {
        background-color: white;
        padding: 5px;
        border: 1px solid rgb(216, 25, 25);
        color: rgb(216, 25, 25);
      }
      .status-section button:hover {
        cursor: pointer;
      }
      #view-more-button {
        background-color: white;
        border: 1px solid black;
        padding: 5px;
      }
      #view-more-button:hover {
        cursor: pointer;
      }

      /* product-left */
      .product-left {
        display: flex;
        width: 50%;
      }
      .product-card .image {
        width: 11%;
        height: auto;
        margin-right: 2.5%;
      }
      .product-card .image img {
        width: 100%;
      }
      /* details */
      .product-details {
        line-height: 20px;
      }
      .brand {
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 1px;
      }
      .color {
        margin-top: 2px;
        color: rgb(93, 92, 92);
        font-size: 15px;
      }

      /* middle */
      .product-middle {
        line-height: 20px;
        display: flex;
        width: 40%;
        justify-content: space-between;
        position: relative;
      }
      .productOrderID {
        width: 48%;
        box-sizing: border-box;
      }
      .orderID-head {
        font-size: 13.5px;
        color: rgb(90, 90, 90);
      }
      .orderID {
        font-size: 15px;
        font-weight: 500;
        color: rgb(73, 73, 73);
      }
      .price {
        width: 47%;
      }

      /* product-right */
      .product-right {
        line-height: 20px;
      }
      .delDate-head {
        font-size: 500;
        color: rgb(7, 122, 7);
      }
      .delDate {
        font-weight: 500;
        color: rgb(7, 122, 7);
      }

      /* hidden products */
      #hidden-product-cards {
        display: block;
      }
    </style>
  </head>
  <body>
    <!-- headers -->
    <%-include("./partials/navbar.ejs")%>
    <!-- -- -->
    <div class="link-section">
      <a href="/user-profile">>Profile page</a> <span>>order page</span>
    </div>
    <div class="page-body">
      <div class="sidebar">
        <div class="sidebar-head">Filters</div>
        <div class="order-status"></div>
      </div>
      <div class="order-section">
        <div class="search-box">
          <input type="search" placeholder="Search your order here..." />
          <input type="submit" />
        </div>
        <%if(orders.length > 0){%>
        <!-- splitting orders -->
        <%orders.forEach(function(order){%>
        <div class="ordered-date"><%=order.orderedDate.toDateString()%></div>
        <%if(order.orderedProducts.length > 1){%>
        <div class="product-card">
          <div class="product-left-multi">
            <div class="head">
              Multiple products Placed For
              <span class="discount-price">Rs. <%=order.orderTotal%></span>
            </div>
            <div class="date"><%=order.orderedDate.toDateString()%></div>
          </div>
          <div class="product-right-multi">
            <div class="status-section">
              <%if(order.couponAdded && order.orderStatus === 'on progress'){%>
              <button onclick="cancelOrder('<%=order._id%>','')">
                cancel order
              </button>
              <%}else if(order.couponAdded && order.orderStatus ===
              'cancelled'){%>
              <div class="cancelled-head">
                <div class="cancel-note" style="color: rgb(159, 20, 20)">
                  Order Cancelled on
                </div>
                <div
                  class="cancelled-date"
                  style="color: rgb(159, 20, 20); font-weight: 500"
                >
                  <%=order.cancelledDate.toDateString()%>
                </div>
              </div>
              <%}%>
            </div>
            <div class="button">
              <button
                id="view-more-button"
                onclick="viewMore(event,'<%=order._id%>')"
              >
                view products
              </button>
            </div>
          </div>
        </div>
        <!-- splitting products -->
        <div
          id="hidden-product-cards"
          data-orderID="<%=order._id%>"
          style="display: none"
        >
          <%order.orderedProducts.forEach(function(product){%>
          <div
            class="product-card"
            onclick="viewOrder('<%=order._id%>','<%=product._id%>')"
            id="product-card"
          >
            <div class="product-left">
              <div class="image">
                <img
                  src="<%=product.productID.images[0]%>"
                  alt="product image"
                />
              </div>
              <div class="product-details">
                <div class="brand"><%=product.productID.brand%></div>
                <div class="details">
                  <%=product.productID.color%> Men's
                  <%=product.productID.productType%>
                </div>
                <div class="color">Color: <%=product.productID.color%></div>
              </div>
            </div>
            <div class="product-middle">
              <div class="productOrderID">
                <div class="orderID-head">Order ID</div>
                <div class="orderID"><%=product.moasOrderID%></div>
              </div>
              <div class="price">Rs. <%=product.totalPrice%></div>
            </div>
            <div class="product-right">
              <!-- on progress -->
              <%if(product.orderStatus === 'on progress'){%>
              <div class="date-note" style="color: rgb(12, 108, 12)">
                Delivery Expected on
              </div>
              <div
                class="date"
                style="color: rgb(12, 108, 12); font-weight: 500"
              >
                <%=product.deliveryDate.toDateString()%>
              </div>

              <!-- cancelled -->
              <%}else if(product.orderStatus === 'cancelled'){%>
              <div class="date-note" style="color: rgb(159, 20, 20)">
                Order Cancelled on
              </div>
              <div
                class="date"
                style="color: rgb(159, 20, 20); font-weight: 500"
              >
                <%=product.cancelledDate.toDateString()%>
              </div>
              <%}%>
            </div>
          </div>
          <%})%>
        </div>

        <%}else{%>
        <div
          class="product-card"
          id="product-card"
          onclick="viewOrder('<%=order._id%>','<%=order.orderedProducts[0]._id%>')"
        >
          <div class="product-left">
            <%const product = order.orderedProducts[0].productID%>
            <div class="image">
              <img
                src="<%=order.orderedProducts[0].productID.images[0]%>"
                alt="product image"
              />
            </div>
            <div class="product-details">
              <div class="brand"><%=product.brand%></div>
              <div class="details">
                <%=product.color%> Men's <%=product.productType%>
              </div>
              <div class="color">Color: <%=product.color%></div>
            </div>
          </div>
          <div class="product-middle">
            <div class="productOrderID">
              <div class="orderID-head">Order ID</div>
              <div class="orderID">
                <%=order.orderedProducts[0].moasOrderID%>
              </div>
            </div>
            <div class="price">
              Rs. <%=order.orderedProducts[0].totalPrice%>
            </div>
          </div>
          <div class="product-right">
            <%const productOrder = order.orderedProducts[0]%>

            <!-- on progress -->
            <%if(productOrder.orderStatus === 'on progress'){%>
            <div class="date-note" style="color: rgb(12, 108, 12)">
              Delivery Expected on
            </div>
            <div class="date" style="color: rgb(12, 108, 12); font-weight: 500">
              <%=productOrder.deliveryDate.toDateString()%>
            </div>

            <!-- cancelled -->
            <%}else if(productOrder.orderStatus === 'cancelled'){%>
            <div class="date-note" style="color: rgb(159, 20, 20)">
              Order Cancelled on
            </div>
            <div class="date" style="color: rgb(159, 20, 20); font-weight: 500">
              <%=productOrder.cancelledDate.toDateString()%>
            </div>
            <%}%>
          </div>
        </div>
        <%}%> <%})%> <%}%>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      // nav
      const profileButton = document.querySelector("#profile-button");
      const content = document.querySelector(".dropdown-content");

      profileButton.addEventListener("click", function (event) {
        event.preventDefault();
        content.style.display =
          content.style.display === "none" ? "block" : "none";
      });

      // hide and unhide the products
      function viewMore(event, orderID) {
        const buttonElement = event.target;
        const productSection = document.querySelector(
          `[data-orderID='${orderID}']`
        );
        buttonElement.innerText =
          buttonElement.innerText === "view products"
            ? "close products"
            : "view products";
        productSection.style.display =
          productSection.style.display === "none" ? "block" : "none";
      }

      // view product
      function viewOrder(orderID, productDocID) {
        window.location.href = `/view/${orderID}/${productDocID}`;
      }

      // cancel order
      async function cancelOrder(orderID, docID) {
        const result = await cancelAlert();
        if (result.value) {
          cancelTheOrder(orderID, docID);
        }
      }
      async function cancelAlert() {
        const result = await Swal.fire({
          title: "Are you sure?",
          text: "You are about to cancel this order!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Remove",
          cancelButtonText: "Cancel",
        });
        return result;
      }

      async function cancelTheOrder(orderID, docID) {
        try {
          const response = await fetch("/cancel-order", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ orderID, docID }),
          });
          if (response.ok) {
            window.location.reload();
          }
        } catch (error) {
          console.log("error", error);
        }
      }
    </script>
  </body>
</html>
