<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/styles/nav.css" />
    <script
      src="https://kit.fontawesome.com/f620fbbfb3.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
    <style>
      body {
        font-family: "poppins", sans-serif;
        padding-bottom: 100px;
        background-color: rgb(248, 248, 248);
      }
      .container {
        width: 85%;
        margin: 80px auto;
      }
      .navigate {
        margin-top: 10px;
        margin-bottom: 8px;
      }
      #topLink {
        font-size: 15px;
        color: rgb(178, 178, 178);
        margin-right: 10px;
      }
      #topLink:hover {
        color: rgb(137, 48, 137);
      }

      /* top section */
      .box-top {
        display: flex;
        box-shadow: 0px 0px 5px rgb(206, 206, 206);
        background-color: white;
        padding: 20px;
        line-height: 20px;
        margin-bottom: 10px;
      }

      /* address */
      .address-box {
        width: 40%;
      }
      .address-head {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .name {
        font-weight: 500;
        margin-bottom: 2px;
      }
      .phone-head {
        margin-top: 10px;
        font-weight: 500;
        margin-bottom: 2px;
      }

      /* reward */
      .reward-box {
        width: 30%;
      }
      .rewardbox-head {
        font-weight: 500;
        font-size: 17px;
      }

      /* orderID */
      .orderID-head {
        font-size: 14px;
        color: grey;
      }
      .orderID {
        font-size: 17px;
        font-weight: 500;
        color: rgb(92, 91, 91);
      }

      /* order cancel */
      .more-box {
        width: 30%;
        display: flex;
        justify-content: flex-end;
      }
      .more-box #cancel {
        border: 1px solid black;
        padding: 2px 7px;
        border-radius: 3px;
        box-shadow: 0px 0px 7px rgb(223, 222, 222) inset;
        font-size: 15px;
        height: 28px;
      }

      .more-box #cancel:hover {
        cursor: pointer;
      }
      .more-box #return-product:hover {
        cursor: pointer;
      }
      #payment-button {
        color: green;
        background-color: white;
        border: 1px solid green;
        padding: 2px 7px;
        font-size: 15px;
        font-weight: 500;
        border-radius: 3px;
        height: 28px;
      }
      #payment-button:hover {
        cursor: pointer;
      }

      /* product details */
      .product-box {
        display: flex;
        box-shadow: 0px 0px 5px rgb(206, 206, 206);
        background-color: white;
        padding: 20px;
        line-height: 20px;
        margin-bottom: 10px;
      }
      .product-details {
        display: flex;
        width: 40%;
      }

      .image {
        width: 11%;
      }
      .image img {
        width: 100%;
      }

      .detail-summary {
        margin-left: 3%;
      }
      .brand {
        font-weight: 500;
      }
      .summary {
        margin-bottom: 8px;
      }
      .color,
      .size,
      .quantity {
        font-size: 15px;
        color: rgb(75, 75, 75);
      }

      /* price section */
      .price {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-top: 10px;
      }
      .coupon-price {
        font-weight: 500;
        font-size: 17px;
      }
      .actual-price {
        font-size: 15px;
        color: rgb(132, 131, 131);
        text-decoration: line-through;
        text-decoration-color: rgb(166, 41, 41);
        margin-left: 20px;
      }
      .product-stat {
        width: 30%;
      }
      .product-stat .product-status {
        font-weight: 500;
        color: green;
      }
      .product-stat .note {
        font-size: 13px;
        color: rgb(86, 86, 86);
      }
    </style>
  </head>
  <body>
    <!-- headers -->
    <%-include("./partials/navbar.ejs")%>
    <!-- -- -->
    <div class="container">
      <div class="navigate">
        <a href="/order-page" id="topLink">>back to order page</a>
      </div>
      <div class="box-top">
        <div class="address-box">
          <div class="address-head">Delivery Address</div>
          <div class="name"><%=order.address.name%></div>
          <div class="address"><%=order.address.address%></div>
          <div class="district"><%=order.address.district%> - district</div>
          <div class="phone-head">Phone:</div>
          <div class="phone-number"><%=order.address.phone%></div>
        </div>
        <div class="reward-box">
          <div class="rewardbox-head">Your Reward</div>
        </div>
        <div class="orderID-box">
          <div class="orderID-head">Order ID</div>
          <div class="orderID"><%=product.moasOrderID%></div>
        </div>
        <div class="more-box">
          <%if(statuses.includes(product.orderStatus)){%>
          <button
            type="submit"
            id="cancel"
            onclick="cancelOrder(event,'<%=order._id%>','<%=product._id%>')"
          >
            cancel your order
          </button>

          <%}else if(product.orderStatus === "cancelled"){%>
          <div class="cancelled-note" style="color: rgb(183, 24, 24)">
            <%const cancelledDate = product.cancelledDate.toDateString()%>
            <div class="cancel-note">Order Cancelled on</div>
            <div class="cancelled-date" style="font-weight: 500">
              <%=cancelledDate%>
            </div>
          </div>

          <%}else if(product.orderStatus === "delivered"){%>
          <form action="/return/<%=order._id%>/<%=product._id%>" method="get">
            <button type="submit" id="return-product">Return Product</button>
          </form>
          <%}else if(statuses.includes(product.orderStatus) && order.couponAdded
          != true){%>
          <button
            type="submit"
            id="cancel"
            onclick="cancelOrder(event,'<%=order._id%>','<%=product._id%>')"
          >
            cancel your order
          </button>
          <%}else if(product.orderStatus === 'requested'){%>
          <div
            class="request-note"
            style="color: rgb(190, 146, 34); font-weight: 500"
          >
            Product requested for return
          </div>
          <%}else if(product.orderStatus === 'request accepted'){%>
          <div
            class="request-accepted"
            style="color: rgb(49, 172, 49); font-weight: 500"
          >
            <i
              class="fa-regular fa-circle-check"
              style="
                color: rgb(55, 164, 55);
                font-size: 26px;
                margin-right: 6px;
              "
            ></i
            >Product return approved
          </div>
          <%}else if(product.orderStatus === 'request rejected'){%>
          <div
            class="request-rejected"
            style="color: rgb(135, 38, 38); font-weight: 500"
          >
            Product return rejected
          </div>
          <%}else if(product.orderStatus === 'returned'){%>
          <div class="returned">
            <div class="returned" style="color: rgb(138, 52, 21)">
              Product Returned on
            </div>
            <div
              class="returned-date"
              style="color: rgb(138, 52, 21); font-weight: 500"
            >
              <%=product.returnedDate.toDateString()%>
            </div>
          </div>
          <%}else if(order.orderedProducts.length === 1 && product.orderStatus
          === 'pending'){%>
          <button
            id="payment-button"
            onclick="continuePayment('<%=order._id%>','<%=order.orderTotal%>')"
          >
            Continue Payment
          </button>

          <%}%>
        </div>
      </div>

      <!-- product box -->
      <div class="product-box">
        <div class="product-details">
          <div class="image">
            <img src="<%=product.productID.images[0]%>" alt="product image" />
          </div>
          <div class="detail-summary">
            <div class="brand"><%=product.productID.brand%></div>
            <div class="summary">
              <%=product.productID.color%> Men's
              <%=product.productID.productType%>
            </div>
            <div class="color">color: <%=product.productID.color%></div>
            <div class="size">size: <%=product.size%></div>
            <div class="quantity">quantity: <%=product.quantity%></div>
            <div class="price">
              <div class="coupon-price">
                Rs. <%=product.couponAdded && order.orderedProducts.length === 1
                ? order.orderTotal : product.totalPrice%>
              </div>
              <%if(product.couponAdded && order.orderedProducts.length === 1){%>
              <div class="actual-price">Rs. <%=product.totalPrice%></div>
              <%}%>
            </div>
          </div>
        </div>
        <div class="product-stat">
          <%if(product.orderStatus === "cancelled"){%>
          <div class="product-status" style="color: rgb(183, 24, 24)">
            Order <%=product.orderStatus%>
          </div>
          <div class="note">The item you ordered is cancelled</div>
          <%}else if(product.orderStatus === "on progress"){%>
          <div class="product-status" style="color: rgb(29, 138, 7)">
            Order <%=product.orderStatus%>
          </div>
          <div class="note">The item you ordered is on progress</div>
          <%}else if(product.orderStatus === "delivered"){%>
          <div class="product-status" style="color: rgb(29, 138, 7)">
            Order <%=product.orderStatus%>
          </div>
          <div class="note">The item you ordered is delivered</div>
          <%}else if(product.orderStatus === "returned"){%>
          <div class="product-status" style="color: rgb(138, 52, 21)">
            Order <%=product.orderStatus%>
          </div>
          <div class="note">The item you ordered is returned</div>
          <%}else if(product.orderStatus === 'pending'){%>
          <div class="product-status" style="color: orangered">
            Order <%=product.orderStatus%>
          </div>
          <div class="note">
            The product that you ordered is in a pending state
          </div>
          <%}%>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      // nav
      const profileButton = document.querySelector("#profile-button");
      const content = document.querySelector(".dropdown-content");

      profileButton.addEventListener("click", function (event) {
        event.preventDefault();
        content.style.display =
          content.style.display === "none" ? "block" : "none";
      });

      // ---------------------------------------------------

      // cancelling the order
      async function cancelOrder(event, orderID, docID) {
        try {
          const userResponse = await cancelAlert();
          if (userResponse.value) {
            cancelTheOrder(orderID, docID);
          }
        } catch (error) {
          console.log("error", error);
        }
      }

      async function cancelAlert() {
        const result = await Swal.fire({
          title: "Are you sure?",
          text: "You are about to cancel this product !",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Confirm",
          cancelButtonText: "Cancel",
        });
        return result;
      }

      async function cancelTheOrder(orderID, docID) {
        try {
          const response = await fetch(`/cancel-order`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ orderID, docID }),
          });
          if (response.ok) {
            window.location.reload();
          }
        } catch (error) {
          console.log(error);
        }
      }

      // razor pay
      async function continuePayment(orderID, orderTotal) {
        try {
          const response = await fetch("/create/orderId", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ amount: orderTotal * 100 }),
          });
          if (response.ok) {
            const data = await response.json();
            const { orderprice, orderId, signature } = data;
            const options = {
              key: "rzp_test_3y4jRsuaFdH2Kn",
              amount: orderprice,
              currency: "INR",
              name: "moasWeb",
              description: "Online Payment",
              order_id: orderId,
              handler: function (response) {
                let form = document.createElement("form");
                form.method = "POST";
                form.action = "/continue-payment";

                // hidden input for passing orderID
                const input = document.createElement("input");
                input.type = "hidden";
                input.name = "orderID";
                input.value = orderID;
                form.appendChild(input);

                // payment status
                const statusInput = document.createElement("input");
                statusInput.type = "hidden";
                statusInput.name = "status";
                statusInput.value = "success";
                form.appendChild(statusInput);

                document.body.appendChild(form);
                form.submit();
              },
            };
            const razorpay = new Razorpay(options);
            razorpay.on("payment.failed", function (response) {
              let form = document.createElement("form");
              form.method = "POST";
              form.action = "/continue-payment";

              // hidden input for passing orderID
              const input = document.createElement("input");
              input.type = "hidden";
              input.name = "orderID";
              input.value = orderID;
              form.appendChild(input);

              // payment status
              const statusInput = document.createElement("input");
              statusInput.type = "hidden";
              statusInput.name = "status";
              statusInput.value = "failed";
              form.appendChild(statusInput);

              document.body.appendChild(form);
              form.submit();
            });
            razorpay.open();
          }
        } catch (error) {
          console.log("error", error);
        }
      }
    </script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  </body>
</html>
