<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/f620fbbfb3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/clientside/products.css" />

    <title>signup page</title>
  </head>
  <body>
    <!-- header section -->
    <%-include('./partials/navbar.ejs')%>

    <!--  -->
    <div class="sort-container">
      <div class="count-section">
        <p>Total Count: <span><%=count%></span></p>
      </div>
      <div class="sort-section">
        <form action="return false">
          <select name="sort" id="sort" onchange="sortPage(event)">
            <option value="popularity">Popularity</option>
            <option value="new">New Arrival</option>
            <option value="low-high">Price Low to High</option>
            <option value="high-low">Price High to Low</option>
            <option value="name-asc">Name Ascending</option>
            <option value="name-desc">Name Descending</option>
            <option value="featured">Featured</option>
            <option value="avg-rating">Average Ratings</option>
          </select>
        </form>
      </div>
    </div>
    <div class="page-container">
      <div class="side-bar">
        <div class="section-box">
          <div class="head">CATEGORIES</div>
          <%categories.forEach(function(category){%>
          <a href="/category/<%=category%>"><%=category%></a>
          <%})%>
        </div>
        <div class="section-box">
          <div class="head">BRANDS</div>
          <%brands.forEach(function(brand){%> <%const selectedTag = brand ===
          query.brand%>
          <a
            href="/category/Tops"
            onclick="setFilter('brand','<%=brand%>',event)"
            class="filter-tag<%selectedTag ? 'selected' : ''%>"
            data-type="brand"
            data-value="<%=brand%>"
            ><%=brand%></a
          >
          <%})%>
        </div>

        <!-- sizes -->
        <div class="section-box">
          <div class="head">SIZES</div>
          <a
            href=""
            onclick="setFilter('size','extra_small',event)"
            data-type="size"
            data-value="extra_small"
            class="filter-tag"
            >Extra Small</a
          >
          <a
            href=""
            onclick="setFilter('size','small',event)"
            data-type="size"
            data-value="small"
            class="filter-tag"
            >Small</a
          >
          <a
            href=""
            onclick="setFilter('size','medium',event)"
            data-type="size"
            data-value="medium"
            class="filter-tag"
            >Medium</a
          >
          <a
            href=""
            onclick="setFilter('size','large',event)"
            data-type="size"
            data-value="large"
            class="filter-tag"
            >Large</a
          >
          <a
            href=""
            onclick="setFilter('size','extra_large',event)"
            data-type="size"
            data-value="extra_large"
            class="filter-tag"
            >Extra Large</a
          >
          <a
            href=""
            onclick="setFilter('size','extra_extra_large',event)"
            data-type="size"
            data-value="extra_extra_large"
            class="filter-tag"
            >XXL</a
          >
        </div>
        <div class="section-box">
          <div class="head">PRICE</div>
          <%const selectedTag = query.price === '0-1000'%>
          <a
            href=""
            onclick="setFilter('price','0-1000',event)"
            class="filter-tag<%selectedTag ? 'selected' : ''%>"
            data-type="price"
            data-value="0-1000"
            >Under Rs.1000</a
          >
          <a
            href=""
            onclick="setFilter('price','1000-2000',event)"
            class="filter-tag"
            data-type="price"
            data-value="1000-2000"
            >Rs.1000 - Rs.2000</a
          >
          <a
            href=""
            onclick="setFilter('price','2000-5000',event)"
            class="filter-tag"
            data-type="price"
            data-value="2000-5000"
            >Rs.2000 - Rs.5000</a
          >
          <a
            href=""
            onclick="setFilter('price','5000-10000',event)"
            class="filter-tag"
            data-type="price"
            data-value="5000-10000"
            >Rs.5000 - Rs.10000</a
          >
        </div>
        <div class="section-box" id="colors">
          <div class="head">COLORS</div>
          <a
            href=""
            style="background-color: rgb(209, 36, 36); color: white"
            onclick="setFilter('color','Red',event)"
            class="filter-tag"
            data-type="color"
            data-value="Red"
            >Red</a
          >
          <a
            href=""
            style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0)"
            onclick="setFilter('color','White',event)"
            class="filter-tag"
            data-type="color"
            data-value="White"
            >White</a
          >
          <a
            href=""
            style="background-color: rgb(28, 140, 18); color: white"
            onclick="setFilter('color','Green',event)"
            class="filter-tag"
            data-type="color"
            data-value="Green"
            >Green</a
          >
          <a
            href=""
            style="background-color: rgb(25, 137, 217); color: white"
            onclick="setFilter('color','Blue',event)"
            class="filter-tag"
            data-type="color"
            data-value="Blue"
            >Blue</a
          >
          <a
            href=""
            style="background-color: rgb(157, 209, 142); color: rgb(0, 0, 0)"
            onclick="setFilter('color','Pista',event)"
            class="filter-tag"
            data-type="color"
            data-value="Pista"
            >Pista</a
          >
          <a
            href=""
            style="background-color: rgb(0, 0, 0); color: white"
            onclick="setFilter('color','Black',event)"
            class="filter-tag"
            data-type="color"
            data-value="Black"
            >Black</a
          >
          <a
            href=""
            style="background-color: rgb(115, 115, 115); color: white"
            onclick="setFilter('color','grey',event)"
            class="filter-tag"
            data-type="color"
            data-value="Grey"
            >Grey</a
          >
        </div>
        <div class="section-box">
          <div class="head">RATINGS</div>
          <a href="">Above 4.5</a>
          <a href="">4.5 - 4.0</a>
          <a href="">4.0 - 3.0</a>
          <a href="">3.0 - 2.0</a>
        </div>
        <div class="section-box">
          <div class="head">DISCOUNT</div>
          <a href="">10% and more</a>
          <a href="">20% and more</a>
          <a href="">30% and more</a>
          <a href="">40% and more</a>
        </div>
      </div>
      <div class="container-body">
        <% if(products.length > 0){%> <% products.forEach(function(product){%>

        <div class="product-card" data-productID="<%=product._id%>">
          <div class="image">
            <img src="<%=product.images[0]%>" alt="product image" />
          </div>
          <a
            href="/category/<%=product.category%>/<%=product._id%>"
            class="product-link"
          >
            <div class="details">
              <div class="description">
                <div class="brand"><%=product.brand%></div>
                <div class="tagline">
                  <%=product.color%> <%=product.pattern%> Men's
                  <%=product.fabric%> <%=product.productType%>
                </div>
              </div>
              <div class="price">
                <div class="selling">
                  Rs. <%=product.productOffer ?
                  product.productOffer.sellingPrice : product.sellingPrice%>
                </div>
                <!-- <div class="actual">Rs. <%=product.actualPrice%></div> -->
                <div class="discount">
                  <%=product.productOffer ? product.productOffer.offer :
                  product.discount%>%off
                </div>
              </div>
            </div>
          </a>
          <div class="wishlist-button">
            <%if(product.addedToWishlist){%>
            <i
              id="solidHeart"
              data-productID="<%=product._id%>"
              class="fa-solid fa-heart"
              style="color: rgb(221, 12, 12); font-size: 23px; opacity: 1"
              onclick="selectProduct(event)"
            ></i>
            <%}else{%>
            <i
              id="regularHeart"
              data-productID="<%=product._id%>"
              class="fa-regular fa-heart"
              style="color: black; font-size: 23px"
              onclick="selectProduct(event)"
            ></i>
            <%}%>
          </div>
        </div>

        <% }) %> <%}%>
      </div>
    </div>
    <div class="pagination">
      <%if(currentPage>1){%>
      <a href="/category/<%=params.categoryName%>?page=<%=currentPage-1%>"
        >back</a
      >
      <%}%>
      <div class="currentPage"><%=currentPage%></div>
      <%if(currentPage < totalPages){%>
      <a href="/category/<%=params.categoryName%>?page=<%=currentPage+1%>"
        >next</a
      >
      <%}%>
    </div>

    <script>
      // sorting logic
      function sortPage(event) {
        // event.preventDefault();
        const sortBy = event.target.value;
        const URLParams = new URLSearchParams(window.location.search);
        URLParams.set("sort", sortBy);
        window.location.search = URLParams.toString();
      }

      function setFilter(filterBy, value, event) {
        event.preventDefault();
        const urlParams = new URLSearchParams(window.location.search);

        const selected = urlParams.get(filterBy) === value;

        if (selected) {
          localStorage.removeItem(filterBy);
          urlParams.delete(filterBy);
        } else {
          localStorage.removeItem(filterBy);
          urlParams.set(filterBy, value);
          localStorage.setItem(filterBy, value);
        }
        window.location.search = urlParams.toString();
      }

      document.addEventListener("DOMContentLoaded", function () {
        const tags = document.querySelectorAll(".filter-tag");
        tags.forEach(function (filterTag) {
          const filterType = filterTag.dataset.type;
          const filterValue = filterTag.dataset.value;

          if (filterType === "color") {
            if (localStorage.getItem(filterTag) === filterValue) {
              filterTag.style.opacity = "1";
            }
          } else {
            if (localStorage.getItem(filterType) === filterValue) {
              filterTag.style.fontWeight = "500";
              filterTag.style.color = "black";
              filterTag.style.opacity = "1";
            }
          }
        });
      });

      const profileButton = document.querySelector("#profile-button");
      const content = document.querySelector(".dropdown-content");

      profileButton.addEventListener("click", function (event) {
        event.preventDefault();
        content.style.display =
          content.style.display === "none" ? "block" : "none";
      });

      // set select attribute in options
      document.addEventListener("DOMContentLoaded", function () {
        const sortSelect = document.querySelector("#sort");
        const sortValue = "<%=query.sort%>";

        if (sortValue) {
          const optionArray = Array.from(sortSelect.options);
          optionArray.forEach(function (option) {
            if (option.value === sortValue) {
              option.selected = true;
            }
          });
        }
        localStorage.removeItem("selectedSize");
      });

      // wishlist
      async function selectProduct(event) {
        const productID = event.target.dataset.productid;
        const productCard = document.querySelector(
          `.product-card[data-productID = "${productID}"]`
        );
        try {
          const response = await fetch("/addToWishlist", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ productID }),
          });
          if (response.ok) {
            const data = await response.json();
            if (data.stat === "added") {
              const wishlistButton = document.querySelector(
                `.fa-regular[data-productID="${productID}"]`
              );
              console.log(wishlistButton);
              wishlistButton.classList.remove("fa-regular", "fa-heart");
              wishlistButton.classList.add("fa-solid", "fa-heart");
              wishlistButton.style.color = "rgb(221, 12, 12)";
              wishlistButton.style.opacity = "1";
              productCard.addEventListener("mouseleave", function () {
                wishlistButton.style.opacity = "1";
              });
              productCard.addEventListener("mouseenter", function () {
                wishlistButton.style.opacity = "1";
              });
            } else if (data.stat === "removed") {
              const wishlistButton = document.querySelector(
                `.fa-solid[data-productID="${productID}"]`
              );
              console.log(wishlistButton);
              wishlistButton.classList.remove("fa-solid", "fa-heart");
              wishlistButton.classList.add("fa-regular", "fa-heart");
              wishlistButton.style.color = "black";
              productCard.addEventListener("mouseleave", function () {
                wishlistButton.style.opacity = "0";
              });
              productCard.addEventListener("mouseenter", function () {
                wishlistButton.style.opacity = "1";
              });
            }
          }
        } catch (error) {}
      }
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
