<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/adminNavBar.css" />
    <style>
      .container {
        width: 95%;
        margin: 70px auto;
        display: flex;
        height: auto;
      }
      .sidebar-left {
        display: flex;
        flex-direction: column;
      }
      .sidebar-left a {
        text-decoration: none;
        color: black;
        padding: 15px 10px 15px 2px;
        font-size: 17px;
      }
      .sidebar-left a:hover {
        font-weight: 500;
      }
      .content-body {
        margin-left: 15px;
        width: 100%;
        margin-top: 10px;
        height: auto;
        box-sizing: border-box;
      }
      .content-body .body-head {
        font-weight: 500;
        font-size: 19px;
      }

      /* stat section */
      .stat-count-section {
        display: flex;
        justify-content: space-around;
        margin-top: 22px;
      }
      .statBox {
        border: 1px solid rgb(165, 165, 165);
        padding: 7px;
        border-radius: 5px;
        width: 20%;
      }
      .statBox .head {
        font-size: 19px;
      }
      .statBox .data {
        font-size: 32px;
        font-weight: 500;
      }
      .statBox .data-price {
        font-size: 25px;
        font-weight: 500;
      }
      .statBox .data-price span {
        font-size: 32px;
      }

      /* filter panel */
      .filter-panel {
        margin-top: 80px;
        display: flex;
        margin-bottom: 30px;
      }
      .filter-panel-head {
        font-size: 18px;
      }
      .filter-panel select {
        margin-left: 9px;
        width: 15%;
      }

      /* table */
      th {
        font-size: 17px;
        font-weight: 500;
      }
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      td {
        padding: 5px;
      }
    </style>

    <title>Sales Report</title>
  </head>
  <body>
    <!-- nav bar -->
    <%-include('./partials/adminNavBar.ejs')%>
    <div class="container">
      <div class="sidebar-left">
        <%-include('./partials/adminSidebar.ejs')%>
      </div>
      <div class="content-body">
        <div class="body-head">Sales Report</div>
        <div class="stat-count-section">
          <div class="statBox">
            <div class="head">Total Sales Amount</div>
            <div class="data-price">Rs. <span><%=totalSalesAmount%></span></div>
          </div>
          <div class="statBox">
            <div class="head">Total Orders</div>
            <div class="data"><%=totalOrders%></div>
          </div>
          <div class="statBox">
            <div class="head">Total Products</div>
            <div class="data"><%=totalProducts%></div>
          </div>
          <div class="statBox">
            <div class="head">Total Users</div>
            <div class="data"><%=totalUsers%></div>
          </div>
        </div>
        <div class="filter-panel">
          <div class="filter-panel-head">Filter based on</div>
          <select name="sortOrders" id="sortOrders" onchange="sortPage(event)">
            <option value="all">All</option>
            <option value="today">Today</option>
            <option value="lastWeek">Last Week</option>
            <option value="lastMonth">Last Month</option>
            <option value="lastYear">Last Year</option>
          </select>
        </div>
        <table class="ordered-section" style="width: 95%">
          <tr>
            <th>Sl:no</th>
            <th>Buyer</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Size</th>
            <th>Price</th>
            <th>Order Date</th>
            <th>Address</th>
            <th>Payment Method</th>
          </tr>
          <%if(orders.length > 0){%> <%let number = 0%>
          <%orders.forEach(function(order){%>
          <%order.orderedProducts.forEach(function(product){%>
          <%if(product.orderStatus != "cancelled"){%> <%number += 1%>
          <tr>
            <td style="text-align: center"><%=number%></td>
            <td><%=order.username%></td>
            <td>
              <%=product.productID.brand%> <%=product.productID.productType%>
            </td>
            <td style="text-align: center"><%=product.quantity%></td>
            <td><%=product.size%></td>
            <td>Rs. <%=product.totalPrice%></td>
            <td><%=order.orderedDate.toDateString()%></td>
            <td>
              <div class="address-name"><%=order.address.name%></div>
              <div class="address-address"><%=order.address.address%></div>
              <div class="address-district"><%=order.address.district%></div>
            </td>
            <td><%=order.paymentMethod%></td>
          </tr>
          <%}%> <%})%> <%})%> <%}%>
        </table>
      </div>
    </div>
    <script>
      function sortPage(event) {
        const sortValue = event.target.value;
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set("sort", sortValue);
        localStorage.setItem("sort", sortValue);
        window.location.search = urlParams.toString();
      }
      document.addEventListener("DOMContentLoaded", function () {
        const sortValue = localStorage.getItem("sort");
        if (sortValue) {
          document.getElementById("sortOrders").value = sortValue;
        }
      });
    </script>
  </body>
</html>
