<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/adminNavBar.css" />
    <style>
      .container {
        width: 95%;
        margin: 70px auto;
        display: flex;
        height: auto;
      }
      .sidebar-left {
        display: flex;
        flex-direction: column;
      }
      .sidebar-left a {
        text-decoration: none;
        color: black;
        padding: 15px 10px 15px 2px;
        font-size: 17px;
      }
      .sidebar-left a:hover {
        font-weight: 500;
      }
      .content-body {
        margin-left: 15px;
        width: 100%;
        margin-top: 10px;
        height: auto;
        box-sizing: border-box;
      }
      .content-body .body-head {
        font-weight: 500;
        font-size: 21px;
      }

      /* stat section */
      .stat-count-section {
        display: flex;
        justify-content: space-around;
        margin-top: 22px;
      }
      .statBox {
        /* border: 1px solid rgb(165, 165, 165); */
        box-shadow: 0px 1px 5px rgb(198, 198, 198);
        padding: 7px;
        border-radius: 5px;
        width: 20%;
      }
      .statBox .head {
        font-size: 19px;
      }
      .statBox .data {
        font-size: 32px;
        font-weight: 500;
      }
      .statBox .data-price {
        font-size: 25px;
        font-weight: 500;
      }
      .statBox .data-price span {
        font-size: 32px;
      }

      /* filter panel */

      .filter-panel {
        margin-top: 50px;
        display: flex;
        margin-bottom: 15px;
        justify-content: space-between;
        align-items: end;
        border-radius: 5px;
      }
      .left-filter,
      .right-filter,
      .start-date,
      .end-date {
        display: flex;
      }

      /* left filter */

      .left-filter select {
        border: none;
        border: 1px solid rgb(142, 142, 142);
        /* padding: 2px; */
        border-radius: 3px;
        outline: none;
        font-family: "poppins", sans-serif;
      }
      .left-filter-head {
        font-size: 16px;
        color: rgb(73, 73, 73);
      }
      .filter-panel select {
        margin-left: 9px;
      }

      /* right filter */

      .start-date,
      .end-date {
        margin-right: 17px;
        color: rgb(73, 73, 73);
      }
      .start-date .date-head,
      .end-date .date-head {
        margin-right: 8px;
        font-size: 16px;
      }
      .right-filter input {
        transition: border-color 0.3s;
        outline: none;
        border: 1px solid rgb(142, 142, 142);
        /* padding: 2px; */
        border-radius: 3px;
        color: rgb(94, 94, 94);
        font-family: "poppins", sans-serif;
      }
      .right-filter .date-head {
        transition: color 0.3s;
      }
      #custom-filter {
        background-color: white;
        color: black;
        border: 1px solid black;
        font-weight: bold;
        padding: 4px 15px;
        border-radius: 3px;
      }

      /* download-buttons */

      #excel-button {
        color: rgb(24, 99, 24);
        background-color: white;
        border: 1px solid rgb(24, 99, 24);
        padding: 2px 5px;
        font-family: "poppins", sans-serif;
        font-weight: 500;
        border-radius: 3px;
      }
      #pdf-button {
        color: rgb(162, 22, 22);
        background-color: white;
        border: 1.5px solid rgb(162, 22, 22);
        padding: 2px 5px;
        font-family: "poppins", sans-serif;
        font-weight: 500;
        border-radius: 3px;
      }
      #excel-button:hover {
        cursor: pointer;
      }
      #pdf-button:hover {
        cursor: pointer;
      }
      /* table */
      /* .table {
        margin-top: 10px;
        border-radius: 9px;
        padding: 20px;
        box-shadow: 0px 1px 5px rgb(198, 198, 198);
      } */
      th {
        font-size: 17px;
        font-weight: 500;
      }
      table,
      th,
      td {
        border: 1px solid rgb(204, 204, 204);
        border-collapse: collapse;
      }

      td {
        padding: 5px;
      }
      tr:nth-child(even) {
        background-color: rgb(240, 240, 240);
      }
    </style>

    <title>Sales Report</title>
  </head>
  <body>
    <!-- nav bar -->
    <%-include('./partials/adminNavBar.ejs')%>
    <div class="container">
      <div class="sidebar-left">
        <%-include('./partials/adminSidebar.ejs')%>
      </div>
      <div class="content-body">
        <div class="body-head">Sales Report</div>
        <div class="stat-count-section">
          <div class="statBox">
            <div class="head">Total Sales Amount</div>
            <div class="data-price">Rs. <span><%=totalSalesAmount%></span></div>
          </div>
          <div class="statBox">
            <div class="head">Total Orders</div>
            <div class="data"><%=totalOrders%></div>
          </div>
          <div class="statBox">
            <div class="head">Total Products</div>
            <div class="data"><%=totalProducts%></div>
          </div>
          <div class="statBox">
            <div class="head">Total Users</div>
            <div class="data"><%=totalUsers%></div>
          </div>
        </div>

        <div class="filter-panel">
          <div class="left-filter">
            <div class="left-filter-head">Sort based on</div>
            <select
              name="sortOrders"
              id="sortOrders"
              onchange="sortPage(event)"
            >
              <option value="all">All</option>
              <option value="today">Today</option>
              <option value="lastWeek">Last Week</option>
              <option value="lastMonth">Last Month</option>
              <option value="lastYear">Last Year</option>
            </select>
          </div>
          <div class="right-filter">
            <div class="start-date">
              <div class="date-head">Start Date</div>
              <input
                type="date"
                name="startDate"
                class="date-input"
                id="startDate"
              />
            </div>
            <div class="end-date">
              <div class="date-head">End Date</div>
              <input
                type="date"
                name="endDate"
                class="date-input"
                id="endDate"
              />
            </div>
            <button id="custom-filter" onclick="filterPage()">Filter</button>
          </div>
          <div class="download-buttons">
            <button
              onclick="download('<%=JSON.stringify(orders)%>','excel',event)"
              id="excel-button"
            >
              Download Excel
            </button>
            <button
              onclick="download('<%=JSON.stringify(orders)%>','pdf',event)"
              id="pdf-button"
            >
              Download PDF
            </button>
          </div>
        </div>

        <div class="table">
          <table class="ordered-section" style="width: 100%">
            <tr>
              <th>Sl:no</th>
              <th>Buyer</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Size</th>
              <th>Price</th>
              <th>Coupon</th>
              <th>Order Date</th>
              <th>Address</th>
              <th>Payment Method</th>
            </tr>
            <%if(orders.length > 0){%> <%let number = 0%>
            <%orders.forEach(function(order){%>
            <%order.orderedProducts.forEach(function(product){%>
            <%if(product.orderStatus != "cancelled"){%> <%number += 1%>
            <tr>
              <td style="text-align: center"><%=number%></td>
              <td><%=order.username%></td>
              <td>
                <%=product.productID.brand%> <%=product.productID.productType%>
              </td>
              <td style="text-align: center"><%=product.quantity%></td>
              <td><%=product.size%></td>
              <td>
                Rs. <%=product.couponAdded && order.orderedProducts.length === 1
                ? order.orderTotal : product.totalPrice %>
              </td>
              <td style="text-align: center">
                <%=order.couponAdded ? 'Added' : '-'%>
              </td>
              <td><%=order.orderedDate.toDateString()%></td>
              <td>
                <div class="address-name"><%=order.address.name%></div>
                <div class="address-address"><%=order.address.address%></div>
                <div class="address-district"><%=order.address.district%></div>
              </td>
              <td><%=order.paymentMethod%></td>
            </tr>
            <%}%> <%})%> <%})%> <%}else{%>
            <tr>
              <td colspan="9" style="text-align: center">
                No Order Found in this time period
              </td>
            </tr>
            <%}%>
          </table>
        </div>
      </div>
    </div>
    <script>
      // sort page
      function sortPage(event) {
        const sortValue = event.target.value;
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set("sort", sortValue);
        localStorage.setItem("sort", sortValue);
        localStorage.removeItem("filter");
        window.location.search = urlParams.toString();
      }

      // filter the page
      function filterPage() {
        let dateInputs = document.querySelectorAll(".date-input");
        const dateRegex = /^\d{2}-\d{2}-\d{4}$/;
        let validated = true;
        dateInputs.forEach(function (input) {
          if (input.value === "" || dateRegex.test(input.value)) {
            input.style.border = "1px solid red";
            validated = false;
          }
        });
        const startDate = document.getElementById("startDate");
        const endDate = document.getElementById("endDate");
        if (endDate.value < startDate.value) {
          endDate.style.border = "1px solid red";
          endDate.parentNode.querySelector(".date-head").style.color = "red";
          validated = false;
        }
        if (validated) {
          const urlParams = new URLSearchParams(window.location.search);
          urlParams.set("sort", `${startDate.value}/${endDate.value}`);
          localStorage.setItem("filter", `${startDate.value}/${endDate.value}`);
          localStorage.removeItem("sort");
          window.location.search = urlParams.toString();
        }
      }

      // page reload
      document.addEventListener("DOMContentLoaded", function () {
        const sortValue = localStorage.getItem("sort");
        const filterValue = localStorage.getItem("filter");
        if (sortValue) {
          document.getElementById("sortOrders").value = sortValue;
        }
        if (filterValue) {
          const dates = filterValue.split("/");
          document.getElementById("startDate").value = dates[0];
          document.getElementById("endDate").value = dates[1];
        }
      });

      // key up
      let dateInputs = document.querySelectorAll(".date-input");
      dateInputs.forEach(function (input) {
        input.addEventListener("change", function () {
          if (input.value.length > 0) {
            input.style.border = "1px solid rgb(155, 155, 155)";
            input.parentNode.querySelector(".date-head").style.color = "black";
          }
        });
      });

      // download sales report
      async function download(orders, format, event) {
        try {
          const response = await fetch(`/admin/download-${format}`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ orders }),
          });
          if (response.ok) {
            // downloading the excel report
            const data = await response.blob();
            const temporaryURL = window.URL.createObjectURL(data);

            const a = document.createElement("a");
            a.href = temporaryURL;
            a.download =
              format === "excel"
                ? "moas_salesReport.xlsx"
                : "moasweb_salesReport.pdf";
            document.body.appendChild(a);
            a.click();

            // remove the a tag from the document body and revode the url
            document.body.removeChild(a);
            window.URL.revokeObjectURL(temporaryURL);
          } else {
            console.log("failed to download the excel doc");
          }
        } catch (error) {
          console.log("error when fetching data from the server", error);
        }
      }
    </script>
  </body>
</html>
