<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://kit.fontawesome.com/f620fbbfb3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/clientside/selectedProduct.css">

    <title>product</title>
  </head>
  <body>
    <!-- header -->
    <%-include('./partials/navbar.ejs')%>
    <!--  -->
    <div class="container-body">
      <div class="image-section">
        <div class="main-image">
          <img src="<%=product.images[0]%>" alt="" id="image1" class="zoom" />
        </div>
        <div class="sub-images">
          <div class="image2">
            <img src="<%=product.images[1]%>" alt="" id="image2" class="zoom" />
          </div>
          <div class="image3">
            <img src="<%=product.images[2]%>" alt="" id="image3" class="zoom" />
          </div>
        </div>
      </div>
      <div class="details-section">
        <!-- head -->
        <div class="details-head">
          <div class="brand"><%=product.brand%></div>
          <div class="description">
            <%=product.color%> <%=product.pattern%> <%=product.fit%> Men's
            <%=product.productType%>
          </div>
          <div class="ratings">
            <div class="avgRating"> Ratings <%=averageRatings%></div>
            <div class="ratings-count">(<%=totalRatings%>)</div>
          </div>
        </div>
        <!-- below head -->
        <form
          action="/category/<%=product.category%>/<%=product._id%>"
          method="post"
          id="selected-product-form"
        >
          <div class="details-and-pin">
            <div class="product-details1">
              <div class="price">
                <div class="selling">
                  MRP: Rs.<%=product.productOffer ?
                  product.productOffer.sellingPrice : product.sellingPrice%>
                </div>
                <div class="actual-and-offer">
                  <div class="actual">MRP: Rs.<%=product.actualPrice%></div>

                  <div class="offer">
                    <%=product.productOffer ? product.productOffer.offer :
                    product.discount%>%Off
                  </div>
                </div>
              </div>
              <div class="tax-option">
                <!-- <div class="tax-note">Inclusive of all taxes</div> -->
                <div class="similar"><a href="#">view similar?</a></div>
              </div>
              <div class="size">
                <div class="size-head">Select Size</div>
                <div id="sizes">
                  <!-- extra small -->
                  <div
                    id="button-extra_small"
                    class="size-button"
                    data-size="<%=product.extra_small%>"
                    onclick="selectSize(event,'extra_small','<%=product._id%>')"
                  >
                    XS
                  </div>

                  <!-- small -->
                  <div
                    id="button-small"
                    class="size-button"
                    data-size="<%=product.small%>"
                    onclick="selectSize(event,'small','<%=product._id%>')"
                  >
                    S
                  </div>

                  <!-- medium -->
                  <div
                    id="button-medium"
                    class="size-button"
                    data-size="<%=product.medium%>"
                    onclick="selectSize(event,'medium','<%=product._id%>')"
                  >
                    M
                  </div>

                  <!-- large -->
                  <div
                    id="button-large"
                    class="size-button"
                    data-size="<%=product.large%>"
                    onclick="selectSize(event,'large','<%=product._id%>')"
                  >
                    L
                  </div>

                  <!-- extra large -->
                  <div
                    id="button-extra_large"
                    class="size-button"
                    data-size="<%=product.extra_large%>"
                    onclick="selectSize(event,'extra_large','<%=product._id%>')"
                  >
                    XL
                  </div>

                  <!-- extra extra large -->
                  <div
                    id="button-extra_extra_large"
                    class="size-button"
                    data-size="<%=product.extra_extra_large%>"
                    onclick="selectSize(event,'extra_extra_large','<%=product._id%>')"
                  >
                    XXL
                  </div>
                </div>
                <div class="quantity">
                  <div class="quantity-box">
                    <div class="quantity-section">
                      <div class="head">Quantity</div>
                      <div class="product-quantity">
                        <div class="downButton">-</div>
                        <div class="productQuantity">1</div>
                        <div class="upButton">+</div>
                      </div>
                      <div id="error-text"></div>
                    </div>

                    <div class="stock-left">
                      stocks left: <span><%=product.quantity%></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>            
          </div>
          <!-- details 3 -->
          <div class="details3">
            <div class="mini-details">
              <div class="mini-details-head">Quick Glance</div>
              <div class="mini-details-list">
                <p>Fit: <%=product.fit%></p>
                <p>Fabric: <%=product.fabric%></p>
                <p>Wash: <%=product.wash%> Wash</p>
              </div>
            </div>            
          </div>
          <input type="hidden" id="selectedSize" name="size" />
          <input type="hidden" id="selectedQuantity" name="quantity" />
          <div class="buy-buttons">
            <button
              class="cart-btn"
              name="button"
              value="<%=addedToCart ? 'viewCart' : 'addToCart'%>"
              type="submit"
              id="submit-button"
            >
              <%=addedToCart ? 'View Cart' : 'Add To Cart'%>
            </button>
            <button
              class="buy-btn"
              name="button"
              value="buyProduct"
              type="submit"
            >
              Buy Product
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="review-section">      
        <%if(userPurchased && !userReviewed){%>          
          <div class="write-review">
            <div class="user-review-option-section-head">User Ratings & review</div>
            <div class="review-box">
              <label for="review-input" id="review-input-label">Product review</label>
              <input
                type="text"
                id="review-input"
                class="review-input"
                
              />
              <div class="rating">
                <span class="rating-head">Product rating : </span>
                <span class="star" id="1" onclick="rateTheProduct(event)"
                  ><i class="fa-regular fa-star"></i
                ></span>
                <span class="star" id="2" onclick="rateTheProduct(event)"
                  ><i class="fa-regular fa-star"></i
                ></span>
                <span class="star" id="3" onclick="rateTheProduct(event)"
                  ><i class="fa-regular fa-star"></i
                ></span>
                <span class="star" id="4" onclick="rateTheProduct(event)"
                  ><i class="fa-regular fa-star"></i
                ></span>
                <span class="star" id="5" onclick="rateTheProduct(event)"
                  ><i class="fa-regular fa-star"></i
                ></span>
              </div>
              
              <input type="hidden" name="rating" id="product-rating" />
              <input
                type="submit"
                id="review-submit-button"
                onclick="submitReview(event,'<%=product._id%>')"
              />
            </div>            
          </div>
        <%}else if(userReviewed){%>
        <%userReviewed.userReviews.forEach(function(review){%>
        <%if(JSON.stringify(review.userID._id) == JSON.stringify(userID)){%>
          <div class="written-review-box">
            <div class="personal-review-head">Your Review</div>
            <div class="user-review">
              <div class="user-photo">
                <div class="photo"><%=review.userID.username.slice(0,1)%></div>
              </div>
              <div class="review-details-section">
                <div class="user-name"><%=review.userID.username%> <span>(You)</span></div>
                <div class="reviewed-date"><%=review.date.toDateString()%></div>
                <div class="user-rating">
                  <%for(let i=0; i<review.productRating; i++){%>
                    <span class="reviewed-star"><i class="fa-solid fa-star" style="color: rgb(184, 150, 50);"></i></span>
                  <%}%>
                </div>
                <div class="user-review-note">"<%=review.productReview%>"</div>
    
              </div>
            </div>
          </div>
        
        <%}%> <%})%> <%}else{%>
          <p class="cannot-review-message">You can't review this product without buying...</p>
        <%}%>
      

      <div class="all-reviews <%=userPurchased ? 'two-div' : 'one-div'%>">
        <div class="reviews-head">All Reviews</div>
        <%if(reviews.length > 0){%>
          <%reviews.forEach(function(productReview){%>
            <%productReview.userReviews.forEach(function(review){%>
              <div class="users-review-box">
                <div class="user-photo">
                  <div class="photo"><%=review.userID.username.slice(0,1)%></div>
                </div>
                <div class="review-details-section">
                  <div class="user-name"><%=review.userID.username%></div>
                  <div class="reviewed-date"><%=review.date.toDateString()%></div>
                  <div class="user-rating">
                    <%for(let i=0; i<review.productRating; i++){%>
                      <span class="reviewed-star"><i class="fa-solid fa-star" style="color: rgb(184, 150, 50);"></i></span>
                    <%}%>
                  </div>
                  <div class="user-review-note">"<%=review.productReview%>"</div>
      
                </div>
              </div>
            <%})%>
          <%})%>
        <%}else{%>
          <div class="no-review-section">
            <div class="no-review">No reviews found for this product <i class="fa-solid fa-ban" style="color: rgb(98, 97, 97); font-size: 20px; margin-left: 4px;"></i> </div>
          </div>
        <%}%>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/medium-zoom/dist/medium-zoom.min.js"></script>

    <script>
      // rate the product
      function rateTheProduct(event) {
        const selectedStar = event.target;
        const selectedStarID = Number(selectedStar.parentNode.id);
        document.getElementById("product-rating").value = selectedStarID;
        const stars = document.querySelectorAll(".star");
        stars.forEach(function (star) {
          if (Number(star.id) <= selectedStarID) {
            const starlink = star.querySelector("i");
            starlink.classList = "fa-solid fa-star";
            starlink.style.color = "rgb(184, 150, 50)";
          }
          if (Number(star.id) > selectedStarID) {
            const starlink = star.querySelector("i");
            starlink.classList = "fa-regular fa-star";
            starlink.style.color = "rgb(74, 74, 74)";
          }
        });
      }

      // submit review
      async function submitReview(event, productID) {
        try {
          event.preventDefault();
          const productReview = document.querySelector(".review-input").value;
          console.log(productReview);
          const productRating = Number(
            document.getElementById("product-rating").value
          );
          const serverResponse = await fetch("/addProductReview", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ productID, productRating, productReview }),
          });
          if (serverResponse.ok) {
            const data = await serverResponse.json();
            window.location.reload();
          }
        } catch (error) {
          console.log("error", error);
        }
      }

      // zoom image;
      document.addEventListener("DOMContentLoaded", function () {
        const images = document.querySelectorAll(".zoom");
        const zoomImages = mediumZoom(images, {
          margin: 20,
          background: "#000",
          scrollOffset: 50,
        });
      });

      // select size
      async function selectSize(event, size, productID) {
        const buttons = document.querySelectorAll(".size-button");
        buttons.forEach(function (button) {
          button.classList.remove("selected");
        });
        const selectedButton = event.target;
        selectedButton.classList.add("selected");
        localStorage.setItem("selectedSize", size);

        // setting size for post
        document.getElementById("selectedSize").value = size;

        // getting size's quantity
        try {
          const response = await fetch(
            `/getQuantity/${productID}?size=${size}`,
            {
              method: "GET",
            }
          );
          if (!response.ok) {
            console.log("failed to get the quantity");
          }
          const data = await response.json();
          document.querySelector(".stock-left span").innerText = data.quantity;
          localStorage.setItem("stock_left", data.quantity);

          const remainingQty = localStorage.getItem("stock_left");
          if (remainingQty == 0) {
            document.querySelector(".productQuantity").innerText = remainingQty;
            document.getElementById("selectedQuantity").value = 0;
          } else {
            document.querySelector(".productQuantity").innerText = 1;
            document.getElementById("selectedQuantity").value = 1;
          }
        } catch (error) {
          console.log("error when fetching the quantity", error);
        }
      }

      document.addEventListener("DOMContentLoaded", function () {
        const selectedButton = localStorage.getItem("selectedSize");
        const remainingQty = localStorage.getItem("stock_left");
        if (selectedButton) {
          document
            .getElementById(`button-${selectedButton}`)
            .classList.add("selected");
          document.querySelector("#selectedSize").value = selectedButton;
          console.log(document.querySelector("#selectedSize").value);
          document.querySelector(".stock-left span").innerText = remainingQty;
        }
        if (remainingQty == 0) {
          document.querySelector(".productQuantity").innerText = remainingQty;
        } else {
          document.querySelector(".productQuantity").innerText = 1;
        }
      });

      // quantity updation
      const downButton = document.querySelector(".downButton");
      const upButton = document.querySelector(".upButton");
      const quantity = document.querySelector(".productQuantity");

      // setting quatity when page loaded
      document.addEventListener("DOMContentLoaded", function () {
        const defaultQty = quantity.innerText;
        document.getElementById("selectedQuantity").value = defaultQty;
      });

      // reduce quantity
      downButton.addEventListener("click", function (event) {
        event.preventDefault();
        let currentQty =
          downButton.parentNode.querySelector(".productQuantity").innerText;
        const remainingQty = localStorage.getItem("stock_left");
        if (currentQty == 0) {
          return "";
        } else if (currentQty != 1) {
          --currentQty;
          document.querySelector(".productQuantity").innerText = currentQty;
          document.getElementById("selectedQuantity").value = currentQty;
        }
      });

      // increase quantity
      upButton.addEventListener("click", function (event) {
        let currentQty =
          event.target.parentNode.querySelector(".productQuantity").innerText;
        const remainingQty = localStorage.getItem("stock_left");

        if (currentQty == 0) {
          const errorNote = document.getElementById("error-text");
          errorNote.innerText = "insufficient quantity";
          setTimeout(function () {
            errorNote.innerText = "";
          }, 2500);
        } else if (remainingQty > 6 && currentQty < 6) {
          ++currentQty;
          document.querySelector(".productQuantity").innerText = currentQty;
          document.getElementById("selectedQuantity").value = currentQty;
        } else if (remainingQty <= 6 && currentQty < remainingQty) {
          ++currentQty;
          document.querySelector(".productQuantity").innerText = currentQty;
          document.getElementById("selectedQuantity").value = currentQty;
        } else if (currentQty == 6 || currentQty === remainingQty) {
          const errorNote = document.getElementById("error-text");
          errorNote.innerText = "Quantity limit reached";
          setTimeout(function () {
            errorNote.innerText = "";
          }, 2500);
        }
      });

      // checking before submission
      const cartButton = document.querySelector(".cart-btn");
      cartButton.addEventListener("click", function (event) {
        if (cartButton.value === "addToCart") {
          if (document.getElementById("selectedSize").value === "") {
            event.preventDefault();
            window.alert("Choose a valid size !");
          } else if (document.getElementById("selectedQuantity").value == 0) {
            event.preventDefault();
            window.alert("Choose a valid quantity");
          }
        }
      });

      // navbar
      const profileButton = document.querySelector("#profile-button");
      const content = document.querySelector(".dropdown-content");

      profileButton.addEventListener("click", function (event) {
        event.preventDefault();
        content.style.display =
          content.style.display === "none" ? "block" : "none";
      });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script></script>
  </body>
</html>
