<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://kit.fontawesome.com/f620fbbfb3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/styles/nav.css" />

    <title>product</title>
    <style>
      body {
        font-family: "poppins", sans-serif;
      }
      .container-body {
        width: 94%;
        margin: 0 auto;
        display: flex;
        margin-top: 80px;
        box-shadow: 0px 0px 9px rgb(207, 207, 207);
        background-color: white;
        padding: 30px;
      }
      .image-section {
        width: 40%;
        display: flex;
        object-fit: cover;
      }
      .main-image {
        width: 60%;
      }
      .sub-images {
        width: 29%;
        object-fit: contain;
        margin-left: 15px;
      }
      .image3 {
        margin-top: 15px;
      }
      img {
        width: 100%;
      }
      /* details section */

      .details-section {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
      /* head and description */
      .details-head {
        line-height: 20px;
      }
      .details-head .brand {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 8px;
      }
      .details-head .description {
        font-size: 17px;
        font-weight: 500;
        margin: 0;
      }
      .details-head .ratings {
        margin-top: 5px;
        display: flex;
        font-size: 14px;        
      }
      .ratings .avgRating{
        color: rgb(23, 124, 23);
        margin-right: 3px;
        font-weight: 500;
      }
      .ratings .ratings-count{
        color: rgb(80, 80, 80);
      }

      /* details below the head */
      .details-and-pin {
        display: flex;
      }

      .product-details1 {
        width: 65%;
        margin-top: 15px;
        box-sizing: border-box;
        border-bottom: 1px solid rgb(193, 191, 191);
      }

      .price,
      .tax-option {
        line-height: 20px;
      }
      .price .selling {
        font-size: 23px;
        font-weight: 500;
        margin-bottom: 4px;
      }
      .actual-and-offer {
        display: flex;
        margin-bottom: 5px;
      }
      .actual-and-offer .actual {
        font-size: 15px;
        color: grey;
        text-decoration: line-through;
        text-decoration-color: rgba(255, 0, 0, 0.758);
        margin-right: 8px;
      }
      .actual-and-offer .offer {
        font-size: 15px;
        color: green;
        font-weight: 500;
      }
      .tax-option {
        display: flex;
        justify-content: space-between;
      }
      .tax-option .similar a {
        color: rgb(71, 69, 69);
        text-decoration: none;
        font-size: 15px;
      }
      /* size section */
      .size {
        margin-top: 20px;
        border-top: 1px solid rgb(207, 204, 204);
        padding: 18px 0px;
        line-height: 24px;
        margin-bottom: 5px;
      }
      .size-head {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 13px;
      }
      #sizes {
        margin-bottom: 25px;
        display: flex;
        gap: 10px;
      }
      .size-button {
        height: 34px;
        width: 34px;
        border: 1px solid rgb(84, 83, 83);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
      }
      .size-button:hover {
        cursor: pointer;
        background-color: rgb(40, 39, 39);
        color: white;
        font-weight: 500;
      }
      .size-button.selected {
        background-color: rgb(40, 39, 39);
        color: white;
        font-weight: 500;
      }

      /* quantity */
      .quantity {
        margin-top: 10px;
      }

      .quantity .quantity-box {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 9px;
      }
      #error-text {
        position: absolute;
        color: rgb(197, 53, 24);
        top: 66px;
        font-size: 15px;
      }
      .quantity-box .stock-left {
        font-size: 15px;
        color: rgb(120, 118, 118);
      }

      .quantity-section .head {
        font-size: 15px;
        color: rgb(74, 74, 74);
        margin-bottom: 8px;
      }
      .product-quantity {
        display: flex;
        align-items: center;
      }
      .product-quantity div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        font-size: 18px;
      }
      .downButton,
      .upButton {
        width: 30px;
        height: 30px;
        border: 1px solid grey;
      }
      .product-quantity .productQuantity {
        margin-top: 0;
      }
      .product-quantity .productQuantity:hover {
        cursor: default;
      }
      .downButton:hover,
      .upButton:hover {
        cursor: pointer;
      }
      /* pin section */
      .pin-section {
        padding: 3px 0px;
        width: 37%;
        display: flex;
        justify-content: center;
      }
      .pin-box {
        box-shadow: 0px 0px 5px rgb(169, 166, 166);
        width: 90%;
        padding: 15px 22px;
        border-radius: 5px;
      }
      .pin-box-head {
        font-size: 23px;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 8px;
      }
      .pin-code {
        font-size: 15px;
        color: rgb(131, 129, 129);
        border: 1px solid rgb(120, 118, 118);
        padding: 5px;
      }
      .change-pin {
        margin-top: 18px;
      }
      .pin-box a {
        padding: 7px 10px;
        background-color: rgb(197, 53, 24);
        color: white;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
      }
      /* details 3 */
      .details3 {
        display: flex;
        margin-top: 20px;
      }
      .mini-details {
        width: 65%;
      }
      .mini-details-head,
      .offer-head {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 5px;
      }
      .mini-details p {
        margin: 0;
        font-size: 15px;
        color: rgb(79, 79, 79);
      }

      .Offers {
        width: 35%;
      }
      /* buy buttons */
      .buy-buttons {
        display: flex;
        margin-top: 40px;
      }
      .buy-buttons .cart-btn {
        color: black;
        font-weight: 500;
        padding: 4px 80px;
        border-radius: 3px;
        border: 1px solid rgb(51, 51, 51);
        cursor: pointer;
      }
      .buy-buttons .buy-btn {
        border: none;
        background-color: rgb(17, 97, 177);
        color: white;
        font-weight: 500;
        padding: 4px 85px;
        margin-left: 10px;
        border-radius: 3px;
        cursor: pointer;
      }
      .buy-buttons a:hover {
        text-decoration: none;
      }

      /* review section */
      .review-section {
        display: flex;
        width: 94%;
        margin: 0 auto;
        box-shadow: 0px 10px 9px rgb(207, 207, 207);
        background-color: white;        
        padding: 30px;
      }
      .write-review{
        width: 35%;
      }
      .user-review-option-section-head{
        margin-left: 2%;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .write-review .review-box{
        border: 1px solid rgb(198, 198, 198);
        border-radius: 4px;
        padding: 15px;
      }
      .rating {
        margin-bottom: 18px;
      }
      .rating-head {
        font-size: 16px;
        color: rgb(49, 48, 48);
        margin: 0px 4px 4px;
      }
      .star {
        margin-right: 5px;
        font-size: 17px;
        color: rgb(74, 74, 74);
      }
      .star:hover {
        cursor: pointer;
      }
      #review-input-label{
        font-size: 16px;
        color: rgb(49, 48, 48);
        margin: 0px 4px 4px;
      }
      .review-input {
        border: 1px solid rgb(187, 187, 187);
        border-radius: 4px;
        outline: none;
        padding: 3px;
        width: 80%;
        margin-right: 10px;
        font-family: "poppins", sans-serif;
        font-size: 15px;
        display: block;
        margin-bottom: 10px;
      }
      #review-submit-button {
        font-family: "poppins", sans-serif;
        border: none;
        background-color: rgb(177, 117, 56);
        color: white;
        font-weight: 500;
        padding: 3px 6px;
      }
      #review-submit-button:hover {
        cursor: pointer;
      }

      /* user review */
      .written-review-box{
        width:35%;        
      }
      .personal-review-head{
        font-size: 17px;
        font-weight: 500;
      }
      .user-review{     
        margin-top: 10px;   
        display: flex;
        border:1px solid rgb(202, 202, 202);
        padding:18px;
        border-radius: 4px;
      }
      .user-review .user-photo{
        margin-right: 2.3%;
      }
      .user-review .photo{
        background-color: grey;
        padding:5px 10px;
        border-radius: 20px;
        color:white
      }

      .user-name{
        font-size: 16.5px;
        font-weight: 500;
      }
      .user-name span{
        font-size: 15px;
        font-weight: normal;
        color: rgb(103, 102, 102);
      }
      .reviewed-date{
        font-size: 14px;
        color:rgb(83, 83, 83);
        margin-bottom: 2px;
      }
      .user-rating{
        margin-bottom: 13px;
      }
      .reviewed-star{
        margin-right: 2px;
        font-size: 13px;
      }
      .user-review-note{
        font-style: italic;
      }
      
      /* all reviews  */
      .all-reviews{
        width:45%;
        margin: 0px 5%;       
      }
      .reviews-head{
        font-size: 17px;
        font-weight: 500;
      }
      .users-review-box{
        margin-top: 10px;
        border:1px solid rgb(202, 202, 202);
        padding:18px;
        border-radius: 4px;
      }
      .users-review-box {
        display: flex;
      }
      .users-review-box .user-photo{
        margin-right: 2.3%;
      }
      .users-review-box .photo{
        background-color: grey;
        padding:5px 10px;
        border-radius: 20px;
        color:white
      }
      .one-div{
        margin: 0px 15% 0px 40%;
      }

      /* no review */
      .no-review-section{
        display: flex;
        justify-content: center;
        margin-top: 10%;
      }
      .no-review{
        font-size: 17px;
        color: rgb(98, 97, 97);
        font-weight: 500;
      }
    </style>
  </head>
  <body>
    <!-- header -->
    <%-include('./partials/navbar.ejs')%>
    <!--  -->
    <div class="container-body">
      <div class="image-section">
        <div class="main-image">
          <img src="<%=product.images[0]%>" alt="" id="image1" class="zoom" />
        </div>
        <div class="sub-images">
          <div class="image2">
            <img src="<%=product.images[1]%>" alt="" id="image2" class="zoom" />
          </div>
          <div class="image3">
            <img src="<%=product.images[2]%>" alt="" id="image3" class="zoom" />
          </div>
        </div>
      </div>
      <div class="details-section">
        <!-- head -->
        <div class="details-head">
          <div class="brand"><%=product.brand%></div>
          <div class="description">
            <%=product.color%> <%=product.pattern%> <%=product.fit%> Men's
            <%=product.productType%>
          </div>
          <div class="ratings">
            <div class="avgRating"> Ratings <%=averageRatings%></div>
            <div class="ratings-count">(<%=totalRatings%>)</div>
          </div>
        </div>
        <!-- below head -->
        <form
          action="/category/<%=product.category%>/<%=product._id%>"
          method="post"
          id="selected-product-form"
        >
          <div class="details-and-pin">
            <div class="product-details1">
              <div class="price">
                <div class="selling">
                  MRP: Rs.<%=product.productOffer ?
                  product.productOffer.sellingPrice : product.sellingPrice%>
                </div>
                <div class="actual-and-offer">
                  <div class="actual">MRP: Rs.<%=product.actualPrice%></div>

                  <div class="offer">
                    <%=product.productOffer ? product.productOffer.offer :
                    product.discount%>%Off
                  </div>
                </div>
              </div>
              <div class="tax-option">
                <div class="taxNote">Inclusive of all taxes</div>
                <div class="similar"><a href="#">view similar?</a></div>
              </div>
              <div class="size">
                <div class="size-head">Select Size</div>
                <div id="sizes">
                  <!-- extra small -->
                  <div
                    id="button-extra_small"
                    class="size-button"
                    data-size="<%=product.extra_small%>"
                    onclick="selectSize(event,'extra_small','<%=product._id%>')"
                  >
                    XS
                  </div>

                  <!-- small -->
                  <div
                    id="button-small"
                    class="size-button"
                    data-size="<%=product.small%>"
                    onclick="selectSize(event,'small','<%=product._id%>')"
                  >
                    S
                  </div>

                  <!-- medium -->
                  <div
                    id="button-medium"
                    class="size-button"
                    data-size="<%=product.medium%>"
                    onclick="selectSize(event,'medium','<%=product._id%>')"
                  >
                    M
                  </div>

                  <!-- large -->
                  <div
                    id="button-large"
                    class="size-button"
                    data-size="<%=product.large%>"
                    onclick="selectSize(event,'large','<%=product._id%>')"
                  >
                    L
                  </div>

                  <!-- extra large -->
                  <div
                    id="button-extra_large"
                    class="size-button"
                    data-size="<%=product.extra_large%>"
                    onclick="selectSize(event,'extra_large','<%=product._id%>')"
                  >
                    XL
                  </div>

                  <!-- extra extra large -->
                  <div
                    id="button-extra_extra_large"
                    class="size-button"
                    data-size="<%=product.extra_extra_large%>"
                    onclick="selectSize(event,'extra_extra_large','<%=product._id%>')"
                  >
                    XXL
                  </div>
                </div>
                <div class="quantity">
                  <div class="quantity-box">
                    <div class="quantity-section">
                      <div class="head">Quantity</div>
                      <div class="product-quantity">
                        <div class="downButton">-</div>
                        <div class="productQuantity">1</div>
                        <div class="upButton">+</div>
                      </div>
                      <div id="error-text"></div>
                    </div>

                    <div class="stock-left">
                      stocks left: <span><%=product.quantity%></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pin-section">
              <div class="pin-box">
                <div class="pin-box-head">Ship To</div>
                <div class="pin-code">Kerala,234324</div>
                <div class="change-pin"><a href="#">Change Pin</a></div>
              </div>
            </div>
          </div>
          <!-- details 3 -->
          <div class="details3">
            <div class="mini-details">
              <div class="mini-details-head">Quick Glance</div>
              <div class="mini-details-list">
                <p>Fit: <%=product.fit%></p>
                <p>Fabric: <%=product.fabric%></p>
                <p>Wash: <%=product.wash%> Wash</p>
              </div>
            </div>
            <div class="Offers">
              <div class="offer-head">Today's Offers</div>
            </div>
          </div>
          <input type="hidden" id="selectedSize" name="size" />
          <input type="hidden" id="selectedQuantity" name="quantity" />
          <div class="buy-buttons">
            <button
              class="cart-btn"
              name="button"
              value="<%=product.addedToCart === true ? 'viewCart' : 'addToCart'%>"
              type="submit"
              id="submit-button"
            >
              <%=product.addedToCart === true ? 'View Cart' : 'Add To Cart'%>
            </button>
            <button
              class="buy-btn"
              name="button"
              value="buyProduct"
              type="submit"
            >
              Buy Product
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="review-section">      
        <%if(userPurchased && !userReviewed){%>          
          <div class="write-review">
            <div class="user-review-option-section-head">User Ratings & review</div>
            <div class="review-box">
              <label for="review-input" id="review-input-label">Product review</label>
              <input
                type="text"
                id="review-input"
                class="review-input"
                
              />
              <div class="rating">
                <span class="rating-head">Product rating : </span>
                <span class="star" id="1" onclick="rateTheProduct(event)"
                  ><i class="fa-regular fa-star"></i
                ></span>
                <span class="star" id="2" onclick="rateTheProduct(event)"
                  ><i class="fa-regular fa-star"></i
                ></span>
                <span class="star" id="3" onclick="rateTheProduct(event)"
                  ><i class="fa-regular fa-star"></i
                ></span>
                <span class="star" id="4" onclick="rateTheProduct(event)"
                  ><i class="fa-regular fa-star"></i
                ></span>
                <span class="star" id="5" onclick="rateTheProduct(event)"
                  ><i class="fa-regular fa-star"></i
                ></span>
              </div>
              
              <input type="hidden" name="rating" id="product-rating" />
              <input
                type="submit"
                id="review-submit-button"
                onclick="submitReview(event,'<%=product._id%>')"
              />
            </div>            
          </div>
        <%}else if(userReviewed){%>
        <%userReviewed.userReviews.forEach(function(review){%>
        <%if(JSON.stringify(review.userID._id) == JSON.stringify(userID)){%>
          <div class="written-review-box">
            <div class="personal-review-head">Your Review</div>
            <div class="user-review">
              <div class="user-photo">
                <div class="photo"><%=review.userID.username.slice(0,1)%></div>
              </div>
              <div class="review-details-section">
                <div class="user-name"><%=review.userID.username%> <span>(You)</span></div>
                <div class="reviewed-date"><%=review.date.toDateString()%></div>
                <div class="user-rating">
                  <%for(let i=0; i<review.productRating; i++){%>
                    <span class="reviewed-star"><i class="fa-solid fa-star" style="color: rgb(184, 150, 50);"></i></span>
                  <%}%>
                </div>
                <div class="user-review-note">"<%=review.productReview%>"</div>
    
              </div>
            </div>
          </div>
        
        <%}%> <%})%> <%}%>
      

      <div class="all-reviews <%=userPurchased ? 'two-div' : 'one-div'%>">
        <div class="reviews-head">All Reviews</div>
        <%if(reviews.length > 0){%>
          <%reviews.forEach(function(productReview){%>
            <%productReview.userReviews.forEach(function(review){%>
              <div class="users-review-box">
                <div class="user-photo">
                  <div class="photo"><%=review.userID.username.slice(0,1)%></div>
                </div>
                <div class="review-details-section">
                  <div class="user-name"><%=review.userID.username%></div>
                  <div class="reviewed-date"><%=review.date.toDateString()%></div>
                  <div class="user-rating">
                    <%for(let i=0; i<review.productRating; i++){%>
                      <span class="reviewed-star"><i class="fa-solid fa-star" style="color: rgb(184, 150, 50);"></i></span>
                    <%}%>
                  </div>
                  <div class="user-review-note">"<%=review.productReview%>"</div>
      
                </div>
              </div>
            <%})%>
          <%})%>
        <%}else{%>
          <div class="no-review-section">
            <div class="no-review">No reviews found for this product <i class="fa-solid fa-ban" style="color: rgb(98, 97, 97); font-size: 20px; margin-left: 4px;"></i> </div>
          </div>
        <%}%>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/medium-zoom/dist/medium-zoom.min.js"></script>

    <script>
      // rate the product
      function rateTheProduct(event) {
        const selectedStar = event.target;
        const selectedStarID = Number(selectedStar.parentNode.id);
        document.getElementById("product-rating").value = selectedStarID;
        const stars = document.querySelectorAll(".star");
        stars.forEach(function (star) {
          if (Number(star.id) <= selectedStarID) {
            const starlink = star.querySelector("i");
            starlink.classList = "fa-solid fa-star";
            starlink.style.color = "rgb(184, 150, 50)";
          }
          if (Number(star.id) > selectedStarID) {
            const starlink = star.querySelector("i");
            starlink.classList = "fa-regular fa-star";
            starlink.style.color = "rgb(74, 74, 74)";
          }
        });
      }

      // submit review
      async function submitReview(event, productID) {
        try {
          event.preventDefault();
          const productReview = document.querySelector(".review-input").value;
          console.log(productReview);
          const productRating = Number(
            document.getElementById("product-rating").value
          );
          const serverResponse = await fetch("/addProductReview", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ productID, productRating, productReview }),
          });
          if (serverResponse.ok) {
            const data = await serverResponse.json();
            window.location.reload();
          }
        } catch (error) {
          console.log("error", error);
        }
      }

      // zoom image;
      document.addEventListener("DOMContentLoaded", function () {
        const images = document.querySelectorAll(".zoom");
        const zoomImages = mediumZoom(images, {
          margin: 20,
          background: "#000",
          scrollOffset: 50,
        });
      });

      // select size
      async function selectSize(event, size, productID) {
        const buttons = document.querySelectorAll(".size-button");
        buttons.forEach(function (button) {
          button.classList.remove("selected");
        });
        const selectedButton = event.target;
        selectedButton.classList.add("selected");
        localStorage.setItem("selectedSize", size);

        // setting size for post
        document.getElementById("selectedSize").value = size;

        // getting size's quantity
        try {
          const response = await fetch(
            `/getQuantity/${productID}?size=${size}`,
            {
              method: "GET",
            }
          );
          if (!response.ok) {
            console.log("failed to get the quantity");
          }
          const data = await response.json();
          document.querySelector(".stock-left span").innerText = data.quantity;
          localStorage.setItem("stock_left", data.quantity);

          const remainingQty = localStorage.getItem("stock_left");
          if (remainingQty == 0) {
            document.querySelector(".productQuantity").innerText = remainingQty;
            document.getElementById("selectedQuantity").value = 0;
          } else {
            document.querySelector(".productQuantity").innerText = 1;
            document.getElementById("selectedQuantity").value = 1;
          }
        } catch (error) {
          console.log("error when fetching the quantity", error);
        }
      }

      document.addEventListener("DOMContentLoaded", function () {
        const selectedButton = localStorage.getItem("selectedSize");
        const remainingQty = localStorage.getItem("stock_left");
        if (selectedButton) {
          document
            .getElementById(`button-${selectedButton}`)
            .classList.add("selected");
          document.querySelector("#selectedSize").value = selectedButton;
          console.log(document.querySelector("#selectedSize").value);
          document.querySelector(".stock-left span").innerText = remainingQty;
        }
        if (remainingQty == 0) {
          document.querySelector(".productQuantity").innerText = remainingQty;
        } else {
          document.querySelector(".productQuantity").innerText = 1;
        }
      });

      // quantity updation
      const downButton = document.querySelector(".downButton");
      const upButton = document.querySelector(".upButton");
      const quantity = document.querySelector(".productQuantity");

      // setting quatity when page loaded
      document.addEventListener("DOMContentLoaded", function () {
        const defaultQty = quantity.innerText;
        document.getElementById("selectedQuantity").value = defaultQty;
      });

      // reduce quantity
      downButton.addEventListener("click", function (event) {
        event.preventDefault();
        let currentQty =
          downButton.parentNode.querySelector(".productQuantity").innerText;
        const remainingQty = localStorage.getItem("stock_left");
        if (currentQty == 0) {
          return "";
        } else if (currentQty != 1) {
          --currentQty;
          document.querySelector(".productQuantity").innerText = currentQty;
          document.getElementById("selectedQuantity").value = currentQty;
        }
      });

      // increase quantity
      upButton.addEventListener("click", function (event) {
        let currentQty =
          event.target.parentNode.querySelector(".productQuantity").innerText;
        const remainingQty = localStorage.getItem("stock_left");

        if (currentQty == 0) {
          const errorNote = document.getElementById("error-text");
          errorNote.innerText = "insufficient quantity";
          setTimeout(function () {
            errorNote.innerText = "";
          }, 2500);
        } else if (remainingQty > 6 && currentQty < 6) {
          ++currentQty;
          document.querySelector(".productQuantity").innerText = currentQty;
          document.getElementById("selectedQuantity").value = currentQty;
        } else if (remainingQty <= 6 && currentQty < remainingQty) {
          ++currentQty;
          document.querySelector(".productQuantity").innerText = currentQty;
          document.getElementById("selectedQuantity").value = currentQty;
        } else if (currentQty == 6 || currentQty === remainingQty) {
          const errorNote = document.getElementById("error-text");
          errorNote.innerText = "Quantity limit reached";
          setTimeout(function () {
            errorNote.innerText = "";
          }, 2500);
        }
      });

      // checking before submission
      const cartButton = document.querySelector(".cart-btn");
      cartButton.addEventListener("click", function (event) {
        if (cartButton.value === "addToCart") {
          if (document.getElementById("selectedSize").value === "") {
            event.preventDefault();
            window.alert("Choose a valid size !");
          } else if (document.getElementById("selectedQuantity").value == 0) {
            event.preventDefault();
            window.alert("Choose a valid quantity");
          }
        }
      });

      // navbar
      const profileButton = document.querySelector("#profile-button");
      const content = document.querySelector(".dropdown-content");

      profileButton.addEventListener("click", function (event) {
        event.preventDefault();
        content.style.display =
          content.style.display === "none" ? "block" : "none";
      });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script></script>
  </body>
</html>
