<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/adminNavBar.css" />

    <title>update category</title>
    <style>
      body {
        font-family: "poppins", sans-serif;
      }

      .container {
        width: 95%;
        margin: 70px auto;
        display: flex;
        height: auto;
      }
      .sidebar-left {
        display: flex;
        flex-direction: column;
      }
      .sidebar-left a {
        text-decoration: none;
        color: black;
        padding: 15px 10px 15px 2px;
      }
      .sidebar-left a:hover {
        font-weight: 500;
      }
      .content-body {
        margin-left: 15px;
        width: 100%;
        margin-top: 10px;
        padding: 10px 30px;
        height: auto;
        box-sizing: border-box;
      }

      .update-box {
        width: 40%;
        height: 100px;
        padding: 10px;
        border: 1px solid rgb(171, 169, 169);
        border-radius: 4px;
      }
      .update-box-head {
        font-weight: 500;
        font-size: 16px;
      }
      .error {
        margin: 0;
        color: rgb(146, 47, 47);
      }
      .update-box input[type="text"] {
        width: 95%;
        margin-bottom: 5px;
        padding: 4px;
        border: 1px solid rgb(165, 162, 162);
        outline: none;
      }
      .update-box input[type="submit"] {
        background-color: rgb(120, 96, 162);
        padding: 4px 6px;
        color: white;
        border: none;
        font-weight: 500;
        border-radius: 2px;
      }
      .update-box input[type="submit"]:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <!-- nav bar -->
    <%-include('./partials/adminNavBar.ejs')%>
    <div class="container">
      <div class="sidebar-left">
        <a href="/admin/adminHome">Dashboard</a>
        <a href="/admin/products">Products</a>
        <a href="/admin/users">User Management</a>
        <a href="/admin/category">Category</a>
        <a href="/admin/orders">Orders</a>
        <a href="/admin/sales-report">Sales Report</a>
        <a href="/admin/coupon">Coupon</a>
        <a href="/admin/product-offer">Product offers</a>
        <a href="/admin/adminProfile">Profile</a>
      </div>
      <div class="content-body">
        <div class="update-box">
          <div class="update-box-head">update:</div>

          <form
            action="/admin/updateCategory/<%=currentCategory._id%>"
            method="post"
            id="form"
          >
            <p class="error">
              <%if(typeof errors != 'undefined'){%> <%=errors.update%> <%}%>
            </p>
            <input
              id="category"
              type="text"
              name="category"
              placeholder="<%=typeof searched != 'undefined' ? searched.category : currentCategory.category%>"
            />
            <input
              type="hidden"
              id="categoryID"
              value="<%=currentCategory._id%>"
            />
            <input type="submit" />
          </form>
        </div>
      </div>
    </div>
    <script src="/jsFiles/adminside/updateCategory.js"></script>
  </body>
</html>
